[2016-03-19 03:38] drewdiddy611 commented on #2416
Test case in android system that isn't working.
    // Create the builder.
    Request.Builder getRequestBuilder = new Request.Builder();

    // Set URL.
    getRequestBuilder.url(ALERT_LOGIN_URL);

    // Build the request.
    Request getRequest = getRequestBuilder.build();

    // Fire
    Response getResponse = new OkHttpClient().newCall(getRequest).execute();
    Log.d("APP_STATUS", "Reading

[2016-03-19 04:56] swankjesse commented on #2416
Is the Android logger truncating?

[2016-03-19 04:56] swankjesse commented on #2416
Ie. what happens if you log the string’s length, rather than the string itself?

[2016-03-19 05:00] drewdiddy611 commented on #2416
D/APP_STATUS: Reading from stream: 5201
D/APP_STATUS: SPLIT
D/APP_STATUS: Reading from body().string(): 6036

The lengths are different o.O

[2016-03-19 05:02] swankjesse commented on #2416
And if you don't trim?

[2016-03-19 05:02] swankjesse commented on #2416
Ie. remove the trim() here, and make sure you don't lose `\r` and `\r\n` characters in the process?
[code]

[2016-03-19 05:03] drewdiddy611 commented on #2416
Good point XD forgot to take that out. They're still different though.
D/APP_STATUS: Reading from stream: 5816
D/APP_STATUS: SPLIT
D/APP_STATUS: Reading from body().string(): 6036

[2016-03-19 05:23] swankjesse commented on #2416
Looks like a problem with logging. All good.

[2016-03-19 05:23] #2416 closed

[2016-03-19 05:24] drewdiddy611 commented on #2416
Nah, I'm still trying to put this together without leaving out carriage returns/newlines... dunno why it's so hard XD im tired.

[2016-03-19 05:27] drewdiddy611 commented on #2416
They're the same length, but it's not a logging problem... my app crashes when I let OkHttp handle it transparently...

[2016-03-19 05:35] drewdiddy611 commented on #2416
Okay, so it was a logging problem XD. Thanks for the help anyway..  It's working fine now.. I dunno what I did. Great product you guys have here, looks like this was user error.

[2016-03-19 05:38] swankjesse commented on #2416
All good. Truncating logs are annoying. You might be interested in this:
https://github.com/square/okhttp/tree/master/okhttp-logging-interceptor

[2016-03-19 05:55] swankjesse commented on #2408
That webserver is returning a malformed file. Gunzip on my Mac can’t handle it either.
[code]

You can workaround with this:
[code]

But you should really ask the server’s administrators to fix their broken file.

[2016-03-19 05:55] #2408 closed

[2016-03-19 10:05] redochka commented on #2381
same thing here with Galaxy S6 and Nexus 5X

[2016-03-19 20:50] #2404 closed

[2016-03-19 20:57] swankjesse commented on #2411
Are you using a custom SocketFactory or SSLSocketFactory ? This should never happen. Maybe you’re using a third-party API that might be installing its own custom SSLSocketFactory?

[2016-03-20 07:27] DimaKoz opened #2418 "Fatal Exception: java.lang.NoClassDefFoundError: java/security/KeyStore"
I got a crash log on Android 4.2.2 , the version of okhttp is 3.2.0
see stack trace below:
Fatal Exception: java.lang.NoClassDefFoundError: java/security/KeyStore
       at org.apache.harmony.xnet.provider.jsse.KeyManagerFactoryImpl.engineInit(KeyManagerFactoryImpl.java:62)
       at javax.net.ssl.KeyManagerFactory.init(KeyManagerFactory.java:197)
       at org.apache.harmony.xnet.provider.jsse.SS

[2016-03-20 07:37] DimaKoz opened #2419 "java.lang.IllegalArgumentException: Pin is not a valid length"
I got the crash log.
Android 4.4.2(no rooted)
device ACER A3-A20FHD
the version of okhttp is 3.2.0
see stack trace below:

Caused by java.lang.IllegalArgumentException: Pin is not a valid length
       at com.android.org.conscrypt.PinListEntry.validatePin(PinListEntry.java:129)
       at com.android.org.conscrypt.PinListEntry.addPins(PinListEntry.java:121)
       at com.android.org.conscrypt.PinLi

[2016-03-20 12:52] swankjesse commented on #2418
Can you reproduce? Which device, specifically? Not much action we can take on this unfortunately.

[2016-03-20 12:55] swankjesse commented on #2419
Looks like a bug in the device. No clear action for us to take here unfortunately. Report it to AOSP or Acer?

[2016-03-20 12:55] #2419 closed

[2016-03-20 13:18] DimaKoz commented on #2418
Unfortunately no.
I got it from Crashlytics.(see attached file)
And I do not understand how it can be reproduced.
This error has occurred once on 500k sessions of app.

2016-03-20 15:53 GMT+03:00 Jesse Wilson <notifications@github.com>:

[2016-03-20 13:52] swankjesse commented on #2418
No action to take for now. If it happens more, or if you have any idea how we could fix this, please reopen.

[2016-03-20 13:52] #2418 closed

[2016-03-20 17:31] swankjesse commented on #2372
No action for us to take here.

[2016-03-20 17:31] #2372 closed

[2016-03-20 17:33] swankjesse commented on #2378
Closing because I believe this is fixed. If you see a problem on the latest 2.x or 3.x release, please reopen.

[2016-03-20 17:33] #2378 closed

[2016-03-20 18:43] swankjesse opened #2420 "NoSuchElementException in DiskLruCache"
Was able to trigger this under heavy load. The LinkedHashMap was empty, but the maxSize was not zero. Something is unhappy.

[code]

[2016-03-20 18:43] #2414 closed

[2016-03-21 00:42] dave-r12 commented on #1804
I think this is a dupe of #2420.

[2016-03-21 00:50] dave-r12 commented on #2409
I was researching this one, but haven't found anything yet. @hamberluo do you know if you're using Http1 or Http2 when this exception happened?

[2016-03-21 08:12] corerzhang opened #2422 "okhttp dependency okio 1.6.0,but this version of okio does not have this feature which has fixed "getsockname failed: EBADF (Bad file number)""
okhttp dependency okio 1.6.0,but this version of okio  does not have the [feature](https://github.com/square/okio/pull/170) that has fixed "getsockname failed: EBADF (Bad file number)"

[2016-03-21 13:30] jonbe242 commented on #2411
Thanks!

I did have a factory looking like this:
`public SSLSocketFactory createSslSocketFactory(){
        final TrustManager[] trustManagers = new TrustManager[]{new X509TrustManager() {

            @Override
            public X509Certificate[] getAcceptedIssuers() {
                return new X509Certificate[0];
            }

            @Override
            public void checkServerTrusted(f

[2016-03-21 16:27] swankjesse commented on #2411
Closing. If you can reproduce, please reopen.

[2016-03-21 16:28] #2411 closed

[2016-03-21 18:35] drindt opened #2423 "ProxySelect and Authenticator at same time"
I've implemented a ProxySelector to exclude hosts from using a Proxy. I basically just need just one Proxy and this needs an Authenticator. When i set a ProxySelector and ProxyAuthenticator it seems the Authenticator is ignored. I haven't found so far a way to use both together. It would be nice to know how to achieve this. Thank you very much.

[2016-03-21 22:17] jianghaolu opened #2424 "Creating RequestBody from an InputStream"
I was looking at RequestBody.java and I can't find an overload for create() like this:
[code]
Is there a reason not to implement this? This is pretty useful when piping from one stream into an upload job. The overload accepting a `File` is useful for files but that's not the only scenario where buffering in memory does not work.

Please shed some lights if I'm missing something. Thanks!

[2016-03-21 23:25] swankjesse commented on #2424
In general we want to be able to replay a request body multiple times. But input streams can only be consumed once.

[2016-03-21 23:28] jianghaolu commented on #2424
So if I provide a large file it will be read multiple times?

[2016-03-21 23:49] swankjesse commented on #2424
Yep. For example, if you get a 308 redirect.

[2016-03-22 00:12] swankjesse commented on #2423
Can you try the latest code from master? We fixed a bug with proxy authentication just yesterday.

[2016-03-22 00:12] swankjesse commented on #2422
Is this a request for us to release an updated version of okio?

[2016-03-22 02:02] corerzhang commented on #2422
yeah，I hope you release an updated version of okio, and okhttp dependent newest version of okio to avoid crashing beacause of android internal problem "getsockname failed: EBADF (Bad file number)".

[2016-03-22 07:21] drindt commented on #2423
Thank you for your quick reply, can i found in inside the snapshot repo?

[2016-03-22 10:17] drindt commented on #2423
The interceptor works as expected, but there is a second call initiated with method GET, its the same call like before but so far i can see with the GET method instead of POST. Even i didn't invoke the call twice it's fired. I have no idea why.

[2016-03-22 10:21] drindt commented on #2423
Here's the stuff i play with:

[code]

[2016-03-22 10:47] drindt commented on #2423
For now it seems RealConnection.createTunnelRequest() ignores the method of that call...

[2016-03-22 12:45] drindt commented on #2423
I have set a few brakepoints in that method and watch what's happen there and randomly it works as expected...

[2016-03-22 14:09] mahdihijazi opened #2425 "NullPointerException in AndroidTrustRootIndex (Okhttp 2.7.5) #2378"
Issue is not resolved in 2.7.5

Just doubled checked it again:
1. Device: Nexus 9/ Android 5.1.1
2. Output of System.out.println(okHttpClient.getSslSocketFactory().getClass());
`class android.net.SSLCertificateSocketFactory`
3. making sure I am using the correct version by calling this
`./gradlew -q dependencies AppName:dependencies  | grep com.squareup.okhttp:okhttp`

and this is the result:

+--

[2016-03-22 14:11] mahdihijazi commented on #2378
double checked it on 2.7.5 and it sill crashes, I reopen a ticket here
https://github.com/square/okhttp/issues/2425

I wonder if we can help tracing the issue or you need any further details.

[2016-03-22 18:47] axel3rd opened #2426 "Support of "Connection close" headers for HTTPS through proxy"
Hi,

This issue could be linked to #1517, but is here specific to https through proxy (So I allow myself to open a new one).

**Synthesis** : The client seems not respect `Connection: close` header come from a proxy when no preemptive authentication on a HTTPS connection.

Consider this snippet code (simple HTTP GET through a proxy) :
[code]
The call works fine and the network trace (wireshark) is

[2016-03-22 21:46] jianghaolu commented on #2424
Or retries. Makes sense! Thanks.

[2016-03-22 21:46] #2424 closed

[2016-03-22 23:16] sparty02 opened #2427 "Unable to extract trust manager on IBM JDK"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-03-22 23:39] sparty02 commented on #2427
Note to self, the code causing this issue was implemented [here](https://github.com/square/okhttp/commit/a7d3396047a75183398f339310774ee415c1c4e8) in order to (based on comments in that commit) resolve #1669, though the commit admits that this solution is not ideal and should evolve into something better.

#1669 also mentions a [related issue on StackOverflow](http://stackoverflow.com/questions/31

[2016-03-23 00:16] sparty02 commented on #2427
I also debugged through and inspected ```com.ibm.jsse2.SSLSocketFactoryImpl```.  It's obfuscated to the point where dirty reflection will never work....hence the current implementation is completely crippled on IBM JREs.

[2016-03-23 01:14] swankjesse commented on #2427
This assumes that the trust manager is the same one as in the system-wide default SSLSocketFactory. Unfortunately for us, we allow you to provide a custom SSLSocketFactory, which could have hidden inside a different trust manager. When the two trust managers disagree, we have a security problem.

I think the fix we’re going to ultimately need is closer to this change from @artem-zinnatullin:
https

[2016-03-23 01:26] sparty02 commented on #2427
but if a consumer doesn't provide a custom SSLSocketFactory and they do just lean on the system default, then wouldn't it make sense for OkHttp to leverage that, and the associated TrustManager(s)?

[2016-03-23 01:55] swankjesse commented on #2427
@sparty02 yep, definitely.

[2016-03-23 04:39] karthikrg opened #2429 "TCP Fast Open support"
https://en.wikipedia.org/wiki/TCP_Fast_Open
Would be great to get this into OkHttp since it could improve performance in high latency networks.

[2016-03-23 04:58] swankjesse commented on #2429
Know any webservers that support it? Know if Android supports it?

[2016-03-23 04:59] swankjesse commented on #2429
Might be better to get this feature in AOSP first.
https://code.google.com/p/android/issues/detail?id=179517

[2016-03-23 05:16] karthikrg commented on #2429
AOSP does not support it today as far as I know, but chrome on Android does ostensibly because they have their own TCP stack. iOS 9 supports it via connectx.

We plan to support this in our internal webservers soon pending a kernel upgrade to 3.17.

[2016-03-23 16:16] axel3rd commented on #2426
@swankjesse : Thanks for the unit test, very usefull for provide a PR  :smiley:

About the problem, this relates the $14.10 of [RFC HTTP 2616](https://www.ietf.org/rfc/rfc2616.txt) :
[code]

[2016-03-24 01:39] swankjesse commented on #2425
From the other issue, stacktrace is:
[code]

[2016-03-24 01:40] swankjesse commented on #2425
It’s attempting and failing to dereference the trust manager.
[code]

[2016-03-24 01:41] swankjesse commented on #2423
The proxy is issuing a 302? That’s unexpected an unsupported.

[2016-03-24 01:42] swankjesse commented on #2422
Got it. If you’d like in the interim you can use the unreleased snapshot of Okio.

[2016-03-24 01:42] #2422 closed

[2016-03-24 01:43] swankjesse commented on #2420
Closed by https://github.com/square/okhttp/pull/2421

[2016-03-24 01:43] #2420 closed

[2016-03-24 01:44] swankjesse commented on #2362
Looks like the warning is due to something not closing the HTTP response stream. Possibly Picasso.

[2016-03-24 07:11] drindt commented on #2423
Yes, thats right. The problem was that i haven't used https for this resource. So it came a 302 back with a Location which points to the proper adress. But this i doesn't handle okhhtp3. The rest is working as expected.

[2016-03-24 11:25] MRodriguess opened #2431 "InterruptedException when using takeRequest()"
Hi Everyone
We started using MockWebServer and it's working like a charme, except for one little thing we haven't yet been able to solve. When asserting the request that was made. using `server.takeRequest()` we got a java.lang.InterruptedException and we are not able to verify the requests.

We call takeRequest after issuing the request with Retrofit . If anybody has faced this kind of problem I

[2016-03-25 00:43] swankjesse commented on #2431
Are you calling `Thread.interrupt()` ? We haven’t built MockWebServer to work with that, which also impacts certain ways of shutting down Executors

[2016-03-25 06:02] ArslanAli7 opened #2433 "Unable to call Rest api on low internet connection using OKHTTP3."
Hi all,whenever i try to connect to my server on a low internet connection i always receive this error
is it a server side issue or something that needs to be upgraded in okhttp

`java.net.SocketTimeoutException: timeout
     at okio.Okio$3.newTimeoutException(Okio.java:207)
     at okio.AsyncTimeout.exit(AsyncTimeout.java:261)
     at okio.AsyncTimeout$2.read(AsyncTimeout.java:215)
     at okio.R

[2016-03-25 06:11] ArslanAli7 commented on #2433
Even if i set the read time out to 0 i.e forever the request doesn't complete and after two or three minutes i get this error
`java.net.SocketException: Connection reset
    at java.net.SocketInputStream.read(SocketInputStream.java:196)
    at java.net.SocketInputStream.read(SocketInputStream.java:124)
    at okio.Okio$2.read(Okio.java:139)
    at okio.AsyncTimeout$2.read(AsyncTimeout.java:211)

[2016-03-25 06:20] fireantzhang opened #2434 "socket support?"

[2016-03-25 08:23] smatei opened #2435 "Preemptive proxy authentication"
Hi,

Is there a way to make a basic proxy authentication preemptive? By default, the request is done in RealCall.getResponse - engine.sendRequest(), then HttpEngine.followUpRequest is called that detects responseCode HTTP_PROXY_AUTH and then the authentication is done

return client.proxyAuthenticator().authenticate(route, userResponse);

(https://github.com/square/okhttp/pull/2417, https://github

[2016-03-25 08:34] Idhor opened #2436 "OkHttp Android thread priority background"
I have already asked this on stackoverflow but i got no answers and i don't know if i'm wrong asking this here.
http://stackoverflow.com/questions/35597170/okhttp-thread-priority-background-on-android

[2016-03-25 12:11] swankjesse commented on #2435
Nothing at the moment. We should offer something here.

[2016-03-25 12:12] #2434 closed

[2016-03-25 12:13] swankjesse commented on #2433
What would you like us to do about this?

[2016-03-25 12:14] swankjesse commented on #2436
I'll take a look at your stack overflow question.

[2016-03-25 12:14] #2436 closed

[2016-03-25 12:36] ArslanAli7 commented on #2433
i was just asking whether its an server side issue or not,because other websites like www.facebook.com,www.github.com works perfectly under such internet as well.

[2016-03-25 12:38] swankjesse commented on #2433
Try your question on stack overflow. They'll be able to better answer it.

[2016-03-25 12:38] #2433 closed

[2016-03-26 04:16] iceteahh commented on #1807
It still happen on version 3.2.0. My app have 2k DAU and 300+ crashes last 30 day! How can I fix it?

[2016-03-26 04:49] swankjesse commented on #1807
@iceteahh please open a new issue with a stacktrace. If you have steps to reproduce, please include that also.

[2016-03-26 07:53] iceteahh opened #2440 "Fatal Exception: java.lang.IllegalStateException: Unable to take ownership of connection."
This happen on version 3.2.0 with 300+ crashes in 30 days. Details:
`Fatal Exception: java.lang.IllegalStateException: Unable to take ownership of connection.
       at com.squareup.okhttp.ws.WebSocketCall.createWebSocket(SourceFile:157)
       at com.squareup.okhttp.ws.WebSocketCall.access$000(SourceFile:42)
       at com.squareup.okhttp.ws.WebSocketCall$1.onResponse(SourceFile:102)
       at com

[2016-03-26 12:17] caopeng000 opened #2441 "why don't support upload big file by breakpoint type.i wish to support."
why don't support upload big file by  breakpoint type.i wish to support.

[2016-03-26 12:41] swankjesse commented on #2441
I don’t understand this request.

[2016-03-26 12:41] #2441 closed

[2016-03-26 12:43] caopeng000 commented on #2441
breakpoint fileupload

[2016-03-26 12:57] dave-r12 commented on #2409
I've not been able to reproduce this one. I believe the cause would be related to a response not being closed prior to making a follow up request. The only thing I came up with is to create a 'misbehaving' network interceptor that wrapped the response, but didn't close it properly.

[2016-03-26 13:24] swankjesse commented on #2409
Thanks for investigating this Dave. I also tried to isolate this, but my investigation wasn’t very deep! I ended up with this, which discovered that cache bug I fixed last week.
https://gist.github.com/swankjesse/ae7315037362e284edc7

[2016-03-26 13:25] swankjesse commented on #2409
(I’d like to eventually tidy that up and check it in. If you want to take it over, please do!)

[2016-03-26 13:45] dave-r12 commented on #2409
Oh interesting, I'll have a look.

[2016-03-26 18:56] renaudcerrato opened #2443 "Unexpected SocketTimeoutException during large POST"
Using OkHttp 3.2.0, when uploading large files over a slow upload bandwith the connection is dropped because of a `SocketTimeoutException` based on the value set during `setReadTimout()`.

The expected behavior would be that the read timeout starts after the last byte is on the wire.

I was able to reproduce that bug using [Charle's Proxy](http://www.charlesproxy.com/), simulating a 33.6Kbps uploa

[2016-03-26 19:40] renaudcerrato commented on #2394
Along with https://github.com/square/okhttp/issues/2443, that's exactly what caused my development backend to explode: the multipart upload tooks slightly more time than my read timeout, causing Retrofit to silently retry over and over...

[2016-03-26 20:25] swankjesse commented on #2443
Can you attempt this with the latest version of Okio from master? We fixed it there but haven’t stabilized that release yet.

[2016-03-26 20:47] renaudcerrato commented on #2443
Nope, same behavior using 1.7.0-SNAPSHOT (which resolve to okio-1.7.0-20160224.150129-14). Not sure how to properly handle that - I was about to use a separate OkHttpClient for upload with longer read timeouts even if I'm not really convinced.

[2016-03-26 20:51] JakeWharton commented on #2394
Retrofit doesn't retry.

On Sat, Mar 26, 2016, 3:40 PM Cerrato Renaud <notifications@github.com>
wrote:

[2016-03-26 20:53] artem-zinnatullin commented on #2443
Please correct me if I'm wrong but for uploading you should configure **write** timeout (probably you'll also need to configure read timeout to receive response, but uploading is writing to socket).

[2016-03-26 20:58] artem-zinnatullin commented on #2443
BTW, please also check read timeout on the server side if possible, it may also drop the connection on its side.

[2016-03-26 20:59] renaudcerrato commented on #2443
@artem-zinnatullin : that's where the bug lies, the write timeout is not involved, the write is still on-going. The SocketTimeoutException is thrown after ~1000ms, which is the read timeout. The write timeout is the default one (10000ms).  I'm running on localhost - using a throthling proxy as a proof of concept.

[2016-03-26 21:05] renaudcerrato commented on #2394
I meaned the underlying OkHttp, used by Retrofit 2.

[2016-03-28 02:24] iceteahh commented on #2440
No one care about it :(. I need your support.

[2016-03-28 02:54] swankjesse commented on #2440
Could you provide a test case to reproduce the problem? That usually makes fixing easy.

[2016-03-28 03:02] iceteahh commented on #2440
I can't give you a test case. I received that report by fabric.io. I have no idea when it happen.

[2016-03-28 03:07] iNoles commented on #2440
When I was looking to that error message, I found it on https://android.googlesource.com/platform/external/okhttp/+/refs/heads/master/okhttp-ws/src/main/java/com/squareup/okhttp/ws/WebSocketCall.java#157

[2016-03-28 08:46] smatei commented on #2435
Please add it as a feature request.

Stefan Matei

[2016-03-28 10:18] MRodriguess commented on #2431
Hi thanks swankjess for answering.
No I not calling thread.interrupt():
I was just trying to assert that the correct request was being made to confirm the endpoint from the api.

[2016-03-28 15:12] shobhitpuri commented on #2440
+1. I'm getting lot of crashes because of the same exception too. However I'm unable to find the source. I'm using 2.5.0 version though.

[2016-03-28 19:22] #2407 closed

[2016-03-28 19:34] sbley commented on #2323
I have the same issue as the OP with Retrofit 2.0.0 and okhttp 3.2.0.

[2016-03-29 02:26] #2427 closed

[2016-03-29 05:00] mtinnes commented on #2217
Is body() guaranteed to be not null? Or is it best practice to check before close?

[2016-03-29 06:26] HakuLess opened #2447 "Unable to decompress deflate"
Request requestComment = new Request.Builder()
                //.header("Accept-Encoding", "defalte")
                .removeHeader("Accept-Encoding")
                .url(commentUri)
                .build();
no matter if i set header or not, it still retruns error, just like that , ��Y�]Wv���nՃ��u�L{8R���`�V�]�. I found some answer about gzip, it says don't set header will help, i tested i

[2016-03-29 08:14] tonyzzp opened #2448 "errors about cookie on wordpress"
the 'set-cookie' field in response header is not complete.
the values of the header are lost.

the correct header is:
Set-Cookie: wordpress_sec_3e7170c5936214cbd49b760d815d6568=xxxxxxxxsome_values;
but i get:
Set-Cookie: wordpress_sec_3e7170c5936214cbd49b760d815d6568=+;

the code:

[code]

[2016-03-29 08:23] leonzhuhi commented on #1266
any idea?i also get the same error

[2016-03-29 12:45] ansman opened #2449 "Unique request ID with logging interceptor"
Currently there is no way to pair the start log entry with the end log entry when using the HTTP logging interceptor.

It would be nice if a random ID would be generated for each request that is logged together with the entry so that you can track which requests that complete.

[2016-03-29 13:34] jbaginski commented on #2449
@ansman you can create a custom logger and pass it to HttpLoggingInterceptor :)

[2016-03-29 13:38] ansman commented on #2449
@jbaginski How is the logger supposed to know that two log statements are related?

[2016-03-29 13:47] jbaginski commented on #2449
very good point :) I think you will end up with custom interceptor... I suppose that the id could be the instance id of the request object.

[2016-03-29 14:54] ansman commented on #2449
Well, this is a feature request for the HTTP logging interceptor. I understand that I have to roll my own if I want this feature today.

[2016-03-29 15:16] JakeWharton commented on #2447
OkHttp does not support deflate automatically. If the server returns a deflate body you need to use Okio's `InflaterSource` or `InflateInputStream` to decompress the body.

[2016-03-29 15:44] nicolabeghin commented on #2311
How does this works with timeouts? How can I close the response body if I don't have any response body ref to begin with?

[code]

I keep getting warnings about response

[2016-03-29 19:57] swankjesse commented on #2311
[code]

[2016-03-29 20:14] swankjesse commented on #2448
Try this:
[code]

[2016-03-29 20:14] #2448 closed

[2016-03-30 01:53] swankjesse commented on #2217
Body is never null and must always be closed.

[2016-03-30 01:54] swankjesse commented on #2311
Yeah, you’re right. I’ll try to reproduce.

[2016-03-30 05:35] JuHonggang opened #2450 "okhttp cache is useless without network"
- [ ] Feature Request.
okhttp cache is useless without network under certain circumstances. For example, if the url of request is
"www.example.com?network=wifi&sign=123", but when without network,  your url will be "www.example.com?network=?&sign=345",(sign according to url params to generate). when matching cache data, it is not matched, so get cache data is null.

Maybe you need to add a functio

[2016-03-30 05:57] pgg commented on #2323
Wildfly 10, java8, and any version > 3.0.1:
Unable to extract the trust manager on okhttp3.internal.Platform@10c89bdf, sslSocketFactory is class sun.security.ssl.SSLSocketFactoryImpl

[2016-03-30 09:25] huzhenjie opened #2451 "okhttp-ws case AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher"
dump report

[code]

here is my code

[code]

[2016-03-30 11:46] swankjesse commented on #2451
That's your fault. You're responsible for closing the message response body.

[2016-03-30 11:46] #2451 closed

[2016-03-30 14:25] teaey commented on #2450
guys, how to set read_timeout per request?

[2016-03-31 11:22] songsh opened #2452 "how to post a bool value?"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-03-31 11:48] dave-r12 commented on #2452
Please ask questions on Stack Overflow, https://stackoverflow.com/questions/tagged/okhttp

[2016-03-31 11:48] #2452 closed

[2016-03-31 11:57] dave-r12 commented on #1804
I believe this was fixed with #2421.

[2016-03-31 11:57] #1804 closed

[2016-03-31 13:50] smatei opened #2453 "[Question] Proxy connection always fail with unexpected end of stream."
Hi,

On some proxies (squid proxy) OKHttpClient works well. On others (also squid proxies), for an unknown reason, I **always** get the **"unexpected end of stream**" error (Caused by: java.io.EOFException: \n not found: size=0 content). For all the browsers and other http clients (java, apache, jetty), the proxy works.

`Exception in thread "main" java.io.IOException: unexpected end of stream
	at

[2016-03-31 14:23] dave-r12 commented on #2453
@smatei one scenario that might trigger this can occur when the server closes the underlying TCP connection. Can you check with wireshark to see if the server sends a FIN packet to close the connection?

[2016-03-31 14:37] smatei commented on #2453
Hi,

I have attached a screenshot. On the left side is OKHttp request, on the other apache http client (with 200 response). I can see a FIN packet, but I am sending it using okhttp (11.0.0.71 is my address). This is strange. I send the request, and instead of receiving an answer, I close the connection. Or maybe I close the connection because of the eof exception.

![wireshark](https://cloud.githu

[2016-03-31 15:14] oleg-nenashev commented on #2281
It has been also reported here: https://github.com/kohsuke/github-api/issues/265 (effectively, from one of Jenkins plugins).

CC @ligi . Maybe he coulld provide reproduction steps

[2016-03-31 15:22] dave-r12 commented on #2453
Cool, thanks! It looks like on the left, the initial HTTP request is sent (No. 4), the server responds with a 407 (No. 6) and then closes the connection (No. 8). Can you paste in the response headers of the 407 response?

On the right, there is no 407 response, so my guess is the authentication info is included with the original request?

[2016-03-31 21:57] dusanvita opened #2455 "RejectedExecutionException in RealWebSocket.onClose()"
I'm getting a lot of RejectedExecutionException from line okhttp3.internal.ws.RealWebSocket$1.onClose (RealWebSocket.java:82) while using the engine.io/socket.io library.

I assume that ping response runnable that is writing the pong by locking the thread, is staying in the pool long enough to create a problem when server requests socket close in the meantime? Since only one runnable can be in the

[2016-04-01 05:54] smatei commented on #2453
Hi,

On the right side there is apache http client, with preemptive authentication. No 407, direct authentication. As I wrote in https://github.com/square/okhttp/issues/2435, I would like that implemented in OKHttp.

You are right, the answer is in the 407 response. I have figured out the problem. Please take a look at the attached picture

![wireshark1](https://cloud.githubusercontent.com/assets/

[2016-04-01 06:22] smatei commented on #2453
Hi,

Figured out how to authenticate directly. Added the "Proxy-Authorization" header to my original request and everything is working perfect.

`String credential = Credentials.basic(user, password);

    Request request = new Request.Builder()
        .url(url)
        .header("User-Agent", "Mozilla/5.0 (Windows NT 6.2; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0")
        .header("Proxy-Authori

[2016-04-01 06:23] smatei commented on #2435
Hi,

Figured out how to authenticate directly. Added the "Proxy-Authorization" header to my original request and everything is working perfect.

`String credential = Credentials.basic(user, password);

    Request request = new Request.Builder()
        .url(url)
        .header("User-Agent", "Mozilla/5.0 (Windows NT 6.2; WOW64; rv:43.0) Gecko/20100101 Firefox/43.0")
        .header("Proxy-Authori

[2016-04-01 06:42] HakuLess commented on #2447
Thank you, got it.
InflaterInputStream inputStream = new InflaterInputStream(
                    responseComment.body().byteStream(), new Inflater(true));

[2016-04-01 06:50] smatei commented on #2453
Hi,

The "Proxy-Authorization" trick works only for http, not for https. I will investigate further.

[2016-04-01 07:09] smatei commented on #2453
For https I need the Proxy-Authorization header in the RealConnection.createTunnelRequest method.

[2016-04-01 08:34] chongzi opened #2456 "networkInterceptors().add() exception"
I introduced the library：
 compile 'com.github.bumptech.glide:glide:3.7.0'
 compile 'com.github.bumptech.glide:okhttp3-integration:1.4.0@aar'

When I call this method the times wrong are as follows：
OkHttpClient mOkHttpClient = new OkHttpClient();
        mOkHttpClient.networkInterceptors().add(new Interceptor() {
            @Override
            public Response intercept(Chain chain) throws IOEx

[2016-04-01 09:52] DavidRamos28 opened #2457 "response.headers() splits headers by itself"
I have an interceptor made for getting headers from response. When i print "response.headers().get(4)" it is supposed to print this:

But it only prints this:

It is like takes header until the first comma, but it is not supposed to.

The official doc for Headers class says:

As far as I understand, when I use the get() method I obtain all the values for a header, not only until the first comma.

[2016-04-01 12:18] swankjesse commented on #2457
Please isolate this into a test case. Start with CallTest.java please.

[2016-04-01 14:58] JakeWharton commented on #2456
`OkHttpClient` is immutable. Use something like:
[code]

[2016-04-01 14:58] #2456 closed

[2016-04-01 17:43] PatrickConceitual commented on #2457
Have you tried debug mode? I am having a issue almost like yours.
I'm making a client to consume resources from a server that must response with 3 non-standard headers, using normal run only the standard headers come, in debug mode all the headers came.
I think that HttpEngine its building the response before all the parts of the response arrive.

[2016-04-01 18:41] PatrickConceitual commented on #2457
I added a "Transfer-Encoding: chunked" header to the request. It did OkHttp read the response properly.

[2016-04-02 06:14] cbeust opened #2459 "OkHttp3 not running on Java 9"
[code]

/cc @talios

What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs

[2016-04-02 11:22] swankjesse commented on #2459
Already fixed on master. Oh neat, that's the new locked down unsafe stuff!

[2016-04-02 11:54] cbeust commented on #2459
That's great to hear, thanks Jesse!

Do you mean that this specific issue is fixed on master or that `okhttp3` is now running fine on JDK 9?

[2016-04-02 13:17] cjvilla2012 commented on #2323
@dshirley Confirming the same crash with Crittercism and Retrofit 2.0.1. Leaving Crittercism out of production builds temporarily solves the problem.

[2016-04-02 16:07] swankjesse commented on #2459
The code path that triigers this is avoided in master. You'll only hit it off you customize the SSLSocketFactory, and if you do there's an API to provide your own TrustManager.

Will probably release as 3.3 in 2-4 weeks.

[2016-04-02 16:25] cbeust commented on #2459
Sounds good. Kobalt is not using okhttp3 directly, only through Retrofit,
so I'm sure Jake will have it updated by then.

Thanks Jesse!

--
Cédric

On Sat, Apr 2, 2016 at 9:07 AM, Jesse Wilson <notifications@github.com>
wrote:

[2016-04-02 17:26] AlphaHans opened #2460 "What's mean "Permitted to short-circuit and not call Chain.proceed()."?"
In wiki say that Permitted to short-circuit and not call Chain.proceed().

In Application Interceptor,if i don't invoke chain.proceed(request),so i must return a null response,but in souce code, it will crash by a NullPointerException:
if (interceptedResponse == null) {
          throw new NullPointerException("application interceptor " + interceptor
              + " returned null");
 }

Is it my

[2016-04-02 17:28] JakeWharton commented on #2460
You don't have to call chain.proceed(), but you still need to return a
Response instance.

On Sat, Apr 2, 2016 at 1:26 PM Hans Lee <notifications@github.com> wrote:

[2016-04-02 17:44] AlphaHans commented on #2460
Thanks a lot!  it's excited of me to have a chat with you!!!!  But, why? What is intention of this design?

[2016-04-02 17:44] AlphaHans commented on #2460
Thanks a lot! it's excited of me to have a chat with you!!!! But, why? What is intention of this design?

[2016-04-02 17:45] AlphaHans commented on #2460
@JakeWharton Thanks a lot! it's excited of me to have a chat with you!!!! But, why? What is intention of this design?

[2016-04-02 17:50] JakeWharton commented on #2460
This is essentially how the HTTP cache works. It reads from the filesystem
to see if there's a local response and returns it instead of calling
chain.proceed().

On Sat, Apr 2, 2016 at 1:45 PM Hans Lee <notifications@github.com> wrote:

[2016-04-02 17:58] AlphaHans commented on #2460
@JakeWharton  OK！ I will read the source code again and again! Thank you !

[2016-04-02 18:13] 2fours commented on #2228
Also seeing this in 3.0.1.

[2016-04-02 18:20] 2fours commented on #2228
For me looks like it's happening when I hit the same POST url twice in a row, happens every time:

[code]

[2016-04-04 03:55] mawenge commented on #1207
你好，我也遇到这个问题，用的是okhttp3访问https，也是想绕过认证，但是现在好像没这个方法了，有什么解决的办法吗

[2016-04-04 07:06] samehgerges commented on #2228
In my case this was happening because I had two okhttp instances share the same cache directory, which isn't recommended by okhttp according to documentation. Once having two different cache directories problem not happening anymore

[2016-04-04 07:52] slightfoot commented on #1078
I found overriding the default socket factory to be a simple solution.
https://gist.github.com/slightfoot/00a26683ea68856ceb50e26c7d8a47d0

[2016-04-04 10:10] Anonomousxxx opened #2461 "OutOfMemory error on uploading file"
Hello
I'm implementing a service for uploading files, which requries uploading huge files to server
I do it in chunks which requires a lot of requests.
After some time I always get outofmemory exeception:
[code]
I use two instances of OkHttp, one gets the url for uploading, and the other
loads the chunk to the cloud service.
Here's the code for file uploading:
[code]

Any idea why this could be ha

[2016-04-04 11:43] swankjesse commented on #2461
When you call response.body().string() it loads the entire response body into memory. Don't do this.

[2016-04-04 11:43] #2461 closed

[2016-04-04 18:37] inder123 commented on #1893
@swankjesse what do you mean HTTP pipelining is not robust? Pipelining should help in poor bandwidth connections in many countries. How would I go about enabling it in OkHttp?

[2016-04-04 18:45] inder123 commented on #1893
https://github.com/jasondevj/hotpotato seems to support pipelining and is under Apache license. May be we can borrow something from there?

[2016-04-04 19:22] Anonomousxxx opened #2463 "TooManyFiles error on uploading file"
Hello
I'm implementing a service for uploading files, which requries uploading huge files to server
I do it in chunks which requires a lot of requests.
After some time I always get outofmemory exeception:

[code]

I use two instances of OkHttp, one gets the url for uploading, and the other
loads the chunk to the cloud service.
Here's the code for file uploading:

[code]

Issue was previously close

[2016-04-04 19:41] JakeWharton commented on #2463
What does calling `upload()` do? It looks like you're recursively uploading these parts which will keep every part's `byte[]` referenced on the stack as ineligible for garbage collection. This is effectively the same as reading the entire file into memory.

You should use an imperative approach which re-uses the same `byte[]`, or better yet just uses Okio's `Okio.source` mechanism whose `skip` met

[2016-04-04 20:51] Anonomousxxx commented on #2463
Well, upload calls the server for the url for the next chunk
Okay, thanks,I will try to use Okio and see what happens

[2016-04-04 21:32] swankjesse commented on #1893
They disabled it from Chrome because it performed poorly.
https://www.chromium.org/developers/design-documents/network-stack/http-pipelining

The workaround is HTTP/2.

[2016-04-04 22:04] 2fours commented on #2228
@samehgerges definitely only have 1 instance.

[2016-04-04 22:12] 2fours commented on #2228
Figured it out. I was calling cache.delete() before the second POST which apparently closes the cache.

[2016-04-05 10:16] Anonomousxxx commented on #2463
Well damn it, got away from OutOfMemory error, and now get TooManyFilesx exception after uploading around 240 chunks

[code]

[2016-04-05 14:30] ntarocco commented on #1083
Any update on this one, after 1 year? We would like to take advantage of these headers in our app.

[2016-04-05 14:53] JakeWharton commented on #2463
Without a sample to reproduce the problem there's not a whole lot we're going to be able to discern here. Sounds like you're leaking file handles in the latest thing.

[2016-04-05 16:52] Anonomousxxx commented on #2463
I'm not sure how to recreate such a sample, any ideas?
I inspected the allocation and memory, seems to be fine with the files If i have done it right

[2016-04-05 20:21] HugoGresse commented on #1998
any update on this?

[2016-04-05 20:51] swankjesse commented on #1083
@ntarocco this will be difficult. The catch is that implementing this will cause us to create two responses for a single request. We currently have no mechanism for that. As I mentioned, you can simulate this today with a force-cache request and a follow-up.

[2016-04-06 01:08] chongzi commented on #2456
@JakeWharton  A few days ago I also tried your above suggestion, but this will cause the content has no effect

 OkHttpClient mOkHttpClient = new OkHttpClient.Builder()
    .addInterceptor(new Interceptor() {
        @Override
        public Response intercept(Chain chain) throws IOException {
            Response originalResponse = chain.proceed(chain.request());
            return originalRespon

[2016-04-06 01:08] swankjesse commented on #1998
Nothing yet. Is it just redirects and cookies?

[2016-04-06 02:27] hamberluo commented on #2409
@dave-r12 i'm using Http1

[2016-04-06 06:46] originx commented on #1567
What is the current status for HPKP implementation, are you still working on the fork?

[2016-04-06 07:38] smatei opened #2464 "[bug] 407 proxy error is not reported when credentials are wrong, instead "Too many follow-up requests""
Hello,

When connecting through a proxy with authentication, the first request is done without authentication.
(I have implemented a preemptive authentication here https://github.com/square/okhttp/pull/2458 in order to send the first request with authentication). 407 response is received, the authenticate method from authenticator is called. If the **user/password credentials are wrong**, we get 4

[2016-04-06 08:58] louisjj opened #2465 "Wiki : Recipes is outdated for Asynchronous Get example"
Hello,

The example code for Asynchronous Get  throws an error : `Class 'Anonymous class derived from Callback' must either be declared abstract or implement abstract method 'onFailure(Call, IOException)' in 'Callback'`

the current code is
[code]

should be

[code]

[2016-04-06 12:24] dave-r12 commented on #2409
Cool thanks. As a follow up, are you doing anything fancy like wrapping the Response with a network interceptor?

[2016-04-06 12:36] hamberluo commented on #2409
@dave-r12 yes, but i'm not sure it's the real cause. i remove those codes in next app version to verify my thoughts.

[2016-04-06 15:08] PaulWoitaschek opened #2466 "Fine granted control on Cache"
I have two api base endpoints I am connecting to. One for public data and one for account related data.
When I change the accounts in my App I want to delete the cache from the accounts endpoint.

However I only find a generic `.evictAll()`. So I ended up in making two separate OkHttpClients with different caches.
I would love to see some finer controls on manipulating the Cache so a shared client

[2016-04-06 15:11] JakeWharton commented on #2466
Does [`Cache#urls()`][1] fulfill this requirement for you?

 [1]: http://square.github.io/okhttp/3.x/okhttp/okhttp3/Cache.html#urls--

[2016-04-06 15:15] PaulWoitaschek commented on #2466
Absolutely. Did just skim it and assumed the data behind was immutable. My bad, thanks.

[2016-04-06 15:15] #2466 closed

[2016-04-06 16:46] DpsDeveloper commented on #2323
Hi, i have the same issue with Crittercism. Look's like SSLParametersImpl package name can differ on differnt android versions.
![screen shot 2016-04-06 at 7 42 04 pm](https://cloud.githubusercontent.com/assets/12971849/14324957/cfbc41ec-fc2f-11e5-9fdd-871db39e3f9a.png)
Platform class is searching for com.google.android.gms.org.conscrypt.SSLParametersImpl and actual package name is  com.android.gm

[2016-04-06 21:01] felipecsl commented on #2273
I ended up rolling my own interceptor as well. Here it goes if anyone needs it:

[code]

[2016-04-06 22:30] rogerhu commented on #2323
@swankjesse updating Parse Android SDK and ran into this same issue.  Even using the SSLCertficateFactory() call seems to break.  See https://github.com/ParsePlatform/Parse-SDK-Android/pull/435/files#r58793351.  Do you think this call is redundant given we already set socket timeouts earlier?

[2016-04-07 02:50] 1zaman commented on #1083
`stale-if-error` handling shouldn't be difficult to implement for the local cache.

Taking a quick look through the implementation, my evaluation of implementing `stale-while-revalidate` is that it could be done by modifying the `HttpEngine` implementation to serve the non-stale response when `readResponse()` is called a second time after receiving a stale response with this `Cache-Control` header

[2016-04-07 04:05] swankjesse commented on #2450
@JuHonggang you’re probably better off storing those responses locally independent of OkHttp’s cache. We won't be able to build a sufficient, performant system to match arbitrary requests to one another.

[2016-04-07 04:05] #2450 closed

[2016-04-07 04:06] #2447 closed

[2016-04-07 04:06] swankjesse commented on #2463
Please use Stack Overflow for support on this.

[2016-04-07 04:06] #2463 closed

[2016-04-07 04:07] swankjesse commented on #2362
No obvious action to take here.

[2016-04-07 04:07] #2362 closed

[2016-04-07 04:08] swankjesse commented on #2233
@tarek360 yes, please add each interceptor only once.

[2016-04-07 04:08] #2233 closed

[2016-04-07 04:09] #2228 closed

[2016-04-07 11:04] JordyLangen commented on #2323
We are still experiencing this issue when using Crittercism and OkHttp 3.2.0

[2016-04-07 11:07] DpsDeveloper commented on #2323
Event with latest Crittercism 5.6.1RC and OkHttp3.2.0 - result the same - crash while application start.

[2016-04-07 11:15] msdx commented on #1517
@ ZeWaren Thank you for your answer.

[2016-04-07 11:34] swankjesse commented on #2323
The latest snapshot has a new API that lets you specify the SSLSocketFactory and TrustManager independently. Using that should resolve your problems.

[2016-04-07 11:38] JordyLangen commented on #2323
@swankjesse thanks for the suggestion! I was already using reflection to set certain fields so the internal reflection would not run (kind of ironic if you think about it)

[2016-04-07 11:43] JordyLangen commented on #2323
@swankjesse Any idea on when 3.3.0 will be released?

[2016-04-07 12:51] swankjesse commented on #2323
No estimates. Historically we release every 2–4 months.

[2016-04-07 20:42] jkang-critter commented on #2323
For the Apteligent Android SDK, we've made some changes in version 5.6.2 that should address the issue. You can find the downloadable file for the version here:

https://app.crittercism.com/downloads/download/crittercism_v5_6_2_sdkonly.jar

[2016-04-07 23:24] KostyaSha commented on #2281
Reproduced, have test case ;)

[2016-04-08 06:08] rogerhu commented on #2323
The 2nd problem is currently if you want to pass an SSL session cache, you have to pass in a SSL Socket factory:

[code]

But even for stock Android `SSLCertificateSocketFactory` relies on `com.android.org.conscrypt.OpenSSLContextImpl` so the trust manager code fails looking for `sun.security.ssl.SSLContextImpl`.

It turns out the Parse Android SDK, which includes OkHttp2, can't be upgraded until

[2016-04-08 06:19] rogerhu commented on #2323
One request though if it's possible to make systemDefaultTrustManager() publicly exposed somehow (or at least yanked out of OkHttpClient.java)...otherwise we're going to just reimplement the code. :)

[2016-04-08 12:10] dave-r12 commented on #2465
Thank you, I've updated the wiki page.

[2016-04-08 12:10] #2465 closed

[2016-04-08 13:33] Anonomousxxx commented on #2463
Looks like it's the  bug of the library in the end.
Just try making a lot of requests to different urls and you will get the same type of error. Seems like OkHttp just doesn't close old connections fast enough.
Fixed it with custom HttpURLConnectionImpl, closing connections and streams right after uploading chunk

[2016-04-08 14:24] ThomasSunderland commented on #2230
Question: Isn't there an asterisk missing before the semicolon in the line...

`-keep class com.squareup.okhttp.** { ;}`

[2016-04-09 17:40] yschimke opened #2469 "Possible race condition with http2"
I haven't looked into this yet, but am seeing different behaviour for the same operation

[code]

[code]

[2016-04-09 23:56] ktchernov commented on #2394
I have created two unit tests, a passing test on OkHttp 2.7 - demonstrating that the behaviour there was as expected: https://gist.github.com/ktchernov/2a1b6ad8a0b0f12634a55b9e2551395e  - when a timeout occurs on a POST request body, OkHttp 2 does not try to re-submit the POST.

Second is the same test adapted to OkHttp 3.2 https://gist.github.com/ktchernov/5785e6d6664a9f306c01632b95492fdd - this

[2016-04-10 00:02] swankjesse commented on #2394
Thanks for the test. I’ll take a look!

[2016-04-10 04:11] yschimke commented on #2469
Not sure of the root cause, but I believe its actually an error from the server that gets translated into a retry because of IPv6 and IPv4 addresses that are available.

java.io.IOException: stream was reset: REFUSED_STREAM
	at okhttp3.internal.framed.FramedStream.getResponseHeaders(FramedStream.java:145)
	at okhttp3.internal.http.Http2xStream.readResponseHeaders(Http2xStream.java:149)
	at okhttp3

[2016-04-10 05:13] yschimke commented on #2469
I can actually replicate it with api.twitter.com also.  Again it seems to be based on the ordering of events.

[code]

[2016-04-10 06:32] ktchernov commented on #2394
Sorry there was a mistake in those tests, which I've corrected now.

[2016-04-10 12:48] farruxx opened #2472 "Caching redirected request"
When I request to "example.com", server redirects it to some "static-cached-data.example.com", then okhttp follows it, and caches with key "static-cached-data.example.com". The next "example.com" requst is still uncached... This time server may redirect to "another-static-cached-data.example.com"

But Last-Modified date are the same on all responses

[2016-04-10 13:08] swankjesse commented on #2472
Do web browsers like Chrome and Firefox cache the redirect?

[2016-04-10 14:38] farruxx commented on #2472
It seems, they also cache by destination url. I understand, thats correct. Because, when user will refresh the site, it will use this cache, otherwise it will never be cached..

[2016-04-10 15:08] dave-r12 commented on #2469
I can reproduce this by setting a breakpoint in FramedConnection, line 508. It looks like the server is sending the SETTINGS frame before we have time to send the connection preface. We ACK the settings before sending our connection preface. From the spec

@swankjesse does that sound right?

[2016-04-10 15:43] swankjesse commented on #2472
Sorry, I mean specifically do they cache the redirect? HTTP 301s are cacheable by default, but 302s need caching headers.

https://en.wikipedia.org/wiki/URL_redirection#HTTP_status_codes_3xx
https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/http/CacheStrategy.java#L66

[2016-04-10 16:15] swankjesse commented on #2469
@dave-r12 yeah, that sounds exactly right. We should defer starting the reader thread until after we’ve written the connection preface. Want to take that?

[2016-04-10 16:20] swankjesse commented on #2469
It might be as simple as moving this line to the bottom of `sendConnectionPreface()`, renaming that method to suit its new functionality, and fixing any tests that this upsets.

[code]

[2016-04-10 16:27] dave-r12 commented on #2469
I haven't spent much time in that area of the code base yet, it will probably take me a bit to get my footing. I can get started on building my mental model, feel free to make the change.

[2016-04-10 16:28] swankjesse commented on #2469
On it.

[2016-04-10 16:28] swankjesse commented on #2469
You can be my reviewer!

[2016-04-10 16:56] swankjesse commented on #2472
No clear action for us to take here.

[2016-04-10 16:56] #2472 closed

[2016-04-10 17:10] yschimke commented on #2469
FYI - I can't reproduce the issue with your branch

[2016-04-10 19:00] swankjesse opened #2474 "Require connection preface on HTTP/2 connections"
Currently we aren’t strict on this.

https://github.com/square/okhttp/pull/2473/files/8996934748a48fe04f7dde56069042dfecb64c91#r59138454

[2016-04-10 19:02] #2469 closed

[2016-04-12 01:04] ofuwape opened #2475 "This Symbol ^ crashes okhttp3.Request calls (IllegalStateException: not valid as a java.net.URI)"
**Build Version**
`compile 'com.squareup.okhttp3:okhttp:3.2.0' `
`compile('com.squareup.retrofit2:retrofit:2.0.1'){
        exclude module: 'okhttp'
    }`

**Issue**
When I have the symbol ^ in my login requests I get the following error:

`FATAL EXCEPTION: OkHttp Dispatcher
java.lang.IllegalStateException: not valid as a java.net.URI`

[2016-04-12 01:10] swankjesse commented on #2475
Yikes. I’ll take a look.

[2016-04-12 01:10] swankjesse commented on #2457
No action for us to take here.

[2016-04-12 01:10] #2457 closed

[2016-04-12 07:08] EngrZhou opened #2476 "[Bug report]useJack error"
When i  use Jack using Gradle.
[code]
Okhttp report the error.

[code]

[2016-04-12 08:53] centerzx commented on #2349
@AruLNadhaN , Good！Thanks !

[2016-04-12 11:34] var1993 opened #2477 "Error"
Error:Execution failed for task ':fxtv:transformResourcesWithMergeJavaResForSelfBeta'.

  	File1: /Users/Jony/.gradle/caches/modules-2/files-2.1/com.squareup.okio/okio/1.6.0/98476622f10715998eacf9240d6b479f12c66143/okio-1.6.0.jar
  	File2: /Users/Jony/work/svn/fxtv/phone/v240/fxtv_phone/fxtv/build/intermediates/exploded-aar/fxtv_phone/framework/unspecified/jars/classes.jar

[2016-04-12 12:01] swankjesse commented on #2477
Please try your question on Stack Overflow.

[2016-04-12 12:01] #2477 closed

[2016-04-12 12:42] JakeWharton commented on #2476
This is a problem with Jack, not OkHttp. Please report to the Android team at http://b.android.com/.

[2016-04-12 12:42] #2476 closed

[2016-04-12 12:55] ofuwape commented on #2475
Found out my requests were using okhttp2 not okhttp3. So this bug does not exist in the okhttp3.

[2016-04-12 12:55] #2475 closed

[2016-04-12 16:41] iNoles commented on #2476
I had this problem before and found https://code.google.com/p/android/issues/detail?id=82691

[2016-04-13 01:28] #2460 closed

[2016-04-13 01:30] swankjesse commented on #2449
I don't think we’ll implement this. If you’re logging many requests concurrently and manually relating them, you’re going to have a bad time. You’re much better off hooking up Stetho or Charles.

[2016-04-13 01:30] #2449 closed

[2016-04-13 01:32] swankjesse commented on #2423
Got it. Yes, we need to improve proxy authentication in OkHttp 3.

Tracking s
https://github.com/square/okhttp/issues/2435

[2016-04-13 01:32] #2423 closed

[2016-04-13 01:44] swankjesse commented on #2394
And this is the bug that we fixed when we changed this behavior.
https://github.com/square/okhttp/issues/1736

[2016-04-13 01:45] swankjesse commented on #2394
I think the nuanced fix we want is to recover from timeouts that occur during connect, but not during read.

[2016-04-13 02:37] swankjesse commented on #2394
https://github.com/square/okhttp/pull/2479

[2016-04-13 03:20] #2394 closed

[2016-04-13 03:21] swankjesse commented on #2381
No clear action for us to take here.

[2016-04-13 03:21] #2381 closed

[2016-04-13 03:21] swankjesse commented on #2365
No clear action for us to take here.

[2016-04-13 03:21] #2365 closed

[2016-04-13 03:21] swankjesse commented on #2342
No clear action for us to take here.

[2016-04-13 03:21] #2342 closed

[2016-04-13 03:23] swankjesse commented on #2300
Looks like it's a problem of adding the same interceptor multiple times. This can't happen with OkHttp 3. No action for us to take here.

[2016-04-13 03:23] #2300 closed

[2016-04-13 03:23] swankjesse commented on #2231
No clear action for us to take here.

[2016-04-13 03:23] #2231 closed

[2016-04-13 03:24] #2459 closed

[2016-04-13 03:24] swankjesse commented on #2453
Duplicate of https://github.com/square/okhttp/pull/2458

[2016-04-13 03:24] #2453 closed

[2016-04-13 03:25] swankjesse commented on #2443
The latest Okio is released.

[2016-04-13 03:25] #2443 closed

[2016-04-13 03:26] swankjesse commented on #2431
Something is calling Thread.interrupt() and causing this. Not much we can do. If you think otherwise, please send us a test case to demonstrate expected and actual behavior.

[2016-04-13 03:26] #2431 closed

[2016-04-13 03:27] swankjesse commented on #2410
I think in any situation where the logging interceptor is showing many concurrent requests, our best solution is to recommend Charles Proxy or Stetho, rather than making the logging interceptor more powerful. It's worth the effort to set up these tools.

[2016-04-13 03:27] #2410 closed

[2016-04-13 03:28] swankjesse commented on #2367
I’ve decided to deliberately not fix this because it’s enabling. You should not be using Java Serialization; it’s insecure, inefficient, and has trouble with versioning.

[2016-04-13 03:28] #2367 closed

[2016-04-13 03:36] swankjesse opened #2480 "Hook up the built-in ALPN in Java 9"
Cause Platform.java is fun!

[2016-04-13 05:27] kamilwlf commented on #2231
I do not remember what I did but it was not the fault of the library

[2016-04-13 08:35] JordyLangen commented on #2323
Confirmed that the Crittercism 5.6.2 update fixes the issue, thanks for the heads up @jkang-critter

[2016-04-13 11:55] dave-r12 commented on #2426
Closed with #2467.

[2016-04-13 11:55] #2426 closed

[2016-04-13 11:57] dave-r12 commented on #2440
@iceteahh @shobhitpuri are either of you explicitly calling cancel()?

[2016-04-13 13:53] Floens opened #2481 "AsyncCall in RealCall sets the thread name to the url, exposing sensitive data"
The AsyncCall runnable inside the RealCall class extends NamedRunnable, and sets the current thread name to the full url of the call.
This can expose sensitive information, for example when API's require a token in the url. I'm having the problem that I log the thread name with log4j2 and it now logs the full url.
I suggest changing it to `toLoggableString()`.

Thanks

[2016-04-13 14:27] wingsum93 commented on #2367
hi, why not use gson to covert between text and object class, it is easy and fast and simple

[2016-04-13 14:44] JakeWharton commented on #2367
That would be ridiculous to use here. You can just call toString() /
parse() or write a Parcelable wrapper type which does it for you.

On Wed, Apr 13, 2016, 10:27 AM eric ho <notifications@github.com> wrote:

[2016-04-13 14:54] CatPlanet opened #2482 "Retrofit + OkHTTP causes memory leaks in Tomcat"
creation of OkHttpClient with ConnectionPool:

	@Scope(ConfigurableBeanFactory.SCOPE_PROTOTYPE)
	@Bean(name = "closeableOKHTTP")
	public OkHttpClient closeableOKHTTP() {
		ConnectionPool pool = new ConnectionPool(5, 1, TimeUnit.SECONDS);
		OkHttpClient client = new OkHttpClient.Builder() //
				.connectTimeout(3, TimeUnit.MINUTES) //
				.followRedirects(true) //
				.readTimeout(3, TimeUnit.MINUT

[2016-04-13 15:02] JakeWharton commented on #2482
These are the dispatcher threads. You should be able to call
getDispatcher().getExecutor().shutdown() and then await shutdown for
whatever period of time you're comfortable with.

On Wed, Apr 13, 2016, 10:54 AM Cat Planet <notifications@github.com> wrote:

[2016-04-13 15:09] swankjesse commented on #2481
I thought we had all of these but we must have missed one. Can fix.

[2016-04-13 15:25] CatPlanet commented on #2482
changed destroy method to:

			okHttpClient.connectionPool().evictAll();
			ExecutorService executorService = okHttpClient.dispatcher().executorService();
			executorService.shutdown();
			try {
				executorService.awaitTermination(3, TimeUnit.MINUTES);
				log.info("OKHTTP ExecutorService closed.");
			} catch (InterruptedException e) {
				log.warn("InterruptedException on destroy()", e);
			}

[2016-04-13 15:32] JakeWharton commented on #2482
Okio is filed here: https://github.com/square/okio/issues/107

Not sure where the other two come from.

On Wed, Apr 13, 2016 at 11:25 AM Cat Planet <notifications@github.com>
wrote:

[2016-04-13 15:36] CatPlanet commented on #2482
I have two services that use two OkHttpClients, each with its own ConnectionPool I'm unable to close manually before Tomcat starts to moan about.

Can I do anything with those? ConnectionPool interface lets me only to evict all unused connections but even after that it still triggers Tomcat's MemoryLeakProtection.

[2016-04-13 17:06] sandro-csimas commented on #1266
+1

[2016-04-13 18:17] sandro-csimas commented on #1266
Plase, what is the configuratio, @JakeWharton?

[2016-04-13 18:21] spacemase commented on #2318
@swankjesse so is this in 3.2 or 3.3?  You say 3.2, Milestone says 3.3.  So confoosed.

[2016-04-13 21:48] swankjesse commented on #2482
We haven’t yet implemented Okio watchdog thread shutdowns.

[2016-04-13 21:49] swankjesse commented on #2318
3.2.

[2016-04-14 08:23] ssagittarius commented on #2323
@jkang-critter when Crittercism 5.6.2 update fix will be integrated in cordova-plugin-apteligent ?

[2016-04-14 08:48] sushant23 commented on #1266
+1

[2016-04-14 08:55] sushant23 commented on #1266
I used Multidex application and it started working.

[2016-04-14 09:18] CatPlanet commented on #2482
And how about ConnectionPool? Is there any way to shutdown it manually?

[2016-04-14 11:27] swankjesse commented on #2482
`ConnectionPool.evictAll()` should work if you have no requests in flight.

[2016-04-14 11:28] #2482 closed

[2016-04-14 11:52] CatPlanet commented on #2482
I have two Spring @Component (@Service) objects, in each there is @PreDestroy method:

	@PreDestroy
	public void destroy() {
		if (okHttpClient != null) {
			ConnectionPool connectionPool = okHttpClient.connectionPool();
			connectionPool.evictAll();
			log.info("OKHTTP connections iddle: {}, all: {}", connectionPool.idleConnectionCount(), connectionPool.connectionCount());
			ExecutorService exec

[2016-04-14 12:14] swankjesse commented on #2482
The thread exits asynchronously.

[2016-04-14 12:16] CatPlanet commented on #2482
So what exactly keeps it in memory? How can I force it to shut down gracefully?

[2016-04-14 13:33] CatPlanet commented on #2482
I've created a simple repo to show problem [https://github.com/CatPlanet/okhttpMemoryLeak](https://github.com/CatPlanet/okhttpMemoryLeak)

building .war: `clean install`
after deploying app to Tomcat and running `localhost:8080/test` try to undeploy app.

Tomcat logs: http://pastebin.com/x1NAtDs0

[2016-04-14 14:11] sandro-csimas commented on #1266
In my case a have to distribute an aar. When i import the aar in another project this error appears.
I solve this problem distributing the aar with a maven dependency structure (pom, md5, etc...)
[code]
On the android application i need to add the local maven repository:
[code]
And add the dependency:
[code]

[2016-04-14 23:31] usmaanz commented on #2206
How do I add an interceptor but at a later stage? I do have the okHttpClient object. I don't wish to overwrite any interceptors. Only add an extra one.

[2016-04-14 23:32] JakeWharton commented on #2206
OkHttpClient newClient = oldClient.newBuilder().addInterceptor(..).build();

On Thu, Apr 14, 2016 at 7:31 PM Usmaan <notifications@github.com> wrote:

[2016-04-15 01:26] NightlyNexus commented on #2206
@usmaanz Alternatively, I sometimes add easily mutable Interceptors and just inject them where I want them.

[2016-04-15 09:02] tguerin commented on #2409
Hi guys,

We have this issue in our application. I've added some logs to find out the root cause and found a way to reproduce the problem. It seems the issue comes from multiple redirect on same host. In that case the StreamAllocation doesn't release the stream and will throw IllegalStateException on the next redirect call.

[2016-04-15 09:15] YLBFDEV opened #2483 "RealBufferedSource throw IllegalStateException("closed")"
When I use the following method

[code]
happened RealBufferedSource throw  IllegalStateException("closed")
![Code Error](http://chuantu.biz/t3/12/1460711284x3340469734.png)

[2016-04-15 09:30] MrThiago opened #2484 "FATAL EXCEPTION: OkHttp Dispatcher"
While trying to download content I am getting this error:

E/LVN/advanced_memory_manager.c: ---------------------------------- AMM report ------------------------------
-> Memory Currently Allocated: 0 bytes <=> 0 components
-> Max Memory Need: 512000 bytes
-> Overall Memory Allocation: 515652 bytes (l:423)
E/art: Throwing OutOfMemoryError "Failed to allocate a 2060 byte allocation with 16777232 f

[2016-04-15 11:36] swankjesse commented on #2484
Looks like you're running out of memory trying to log the body of a very large HTTP response. Dont do that. No action for us to take here.

[2016-04-15 11:36] #2484 closed

[2016-04-15 11:39] swankjesse commented on #2483
Are you calling responseBody.string() or any other method to close the response body? I suspect thats the problem here. No action for us to take on this.

[2016-04-15 11:39] #2483 closed

[2016-04-15 11:40] swankjesse commented on #2409
@tguerin good find. I'll take a look. I assume you're using the latest release?

[2016-04-15 12:22] tguerin commented on #2409
@swankjesse yes

[2016-04-15 17:03] southerton81 opened #2486 "authenticate interceptor leads to "java.io.IOException: unexpected end of stream on okhttp3.Address""
If I spend more time in authenticate() interceptor, than the time set as OkHttp timeout (10 seconds default) the followUp request always produces the java.io.IOException: unexpected end of stream on okhttp3.Address
This is OkHttp3.

[code]

[2016-04-15 23:05] xbroak commented on #2300
It wasn't anything to do with me adding the interceptor multiple times. Just FYI. But i just removed the interceptor altogether and this is no longer an issue for me any more, so feel free to keep it closed.

[2016-04-15 23:21] swankjesse commented on #2300
@xbroak strange. If it happens again I'm sure we'll find out about it. I couldn't manage to reproduce last time I tried.

[2016-04-15 23:24] swankjesse commented on #2486
Could you convert this into a complete JUnit test case? Those kinds of bugs are way easier to fix.

[2016-04-15 23:41] Wavesonics opened #2487 "Strict Mode Error: Explicit termination method 'close' not called"
Wounder if anyone else has seen this strict mode violation, it could be my own code but if it is I can't see how.

[code]

[2016-04-15 23:50] JakeWharton commented on #2487
What version? What's your calling code? The trace isn't that useful by
itself.

On Fri, Apr 15, 2016, 7:41 PM Adam Brown <notifications@github.com> wrote:

[2016-04-16 00:24] Wavesonics commented on #2487
Ya I noticed!

library version: **3.2.0**

I've Been looking through all my networking code, going on the assumption that this is referring to the response body, but everywhere I deal with the response body it's closed in a finally:
[code]

[2016-04-16 16:54] swankjesse commented on #2288
Looks like there’s still a case where null is coming through to the network interceptor.

[2016-04-16 16:54] swankjesse commented on #2288
(Details in the Stetho report.)

[2016-04-16 17:20] dave-r12 commented on #2288
Am I missing something? RealCall doesn't have a connection() method. ApplicationInterceptorChain does and it returns null. Stetho is using a NetworkInterceptor.

[2016-04-17 00:05] dave-r12 commented on #2288
I responded on the stetho issue, I believe that person is referring to the ApplicationInterceptorChain class. Returning null for connection() is deliberate. The wiki mentions connection() is available with network interceptors only. Let me know if I'm misunderstanding something.

[2016-04-17 00:59] swankjesse commented on #2288
Ah cool. Thanks!

[2016-04-17 00:59] #2288 closed

[2016-04-17 02:21] ppamorim opened #2488 "Translate"
Hi Square.

I forked this library with the objetive to translate the website, I translated my fork to Portuguese (it was simple!) and I have plans to translate to another languages (Spanish, German and Chinese).

Do you have any interest on this feature?

Thanks.

[2016-04-17 03:04] JakeWharton commented on #2488
My hesitation would be that we have no way to maintain the translations
over time as the content changes.

On Sat, Apr 16, 2016, 10:21 PM Pedro Paulo Amorim <notifications@github.com>
wrote:

[2016-04-17 05:47] ChronoWaste opened #2489 "Exponential Backoff support"
The Google's Http Client has an implementation of this algorithm which essentially improves the way retrying a request in case of failures. Is it possible to make yours ?

Additional info:
[https://developers.google.com/api-client-library/java/google-http-java-client/backoff](https://developers.google.com/api-client-library/java/google-http-java-client/backoff)

[2016-04-17 17:02] ppamorim commented on #2488
The last change of the website was 4 months ago. I cannot see any problem with that.

[2016-04-18 02:58] YLBFDEV commented on #2483
I used `inresponseBody.string() `

but in ResponseBody
[code]

[code]
Here is closed source then I use RxJavaframework So just out of this question
So here should not be used  `inresponseBody.string() ` method

[2016-04-18 06:48] wingsum93 commented on #2489
-1 ,
if it is user trigger, no data = no retry.
because server may return 500.

if you send data in background, you may retry yourself in own way.

[2016-04-18 08:35] hexucheng opened #2490 "Why okhttp dropt NPN support?"
I want to know why okhttp dropt NPN support in version 2.2.0? Were there some bugs in using previous NPN support implementation?

[2016-04-18 08:41] hexucheng commented on #2490
I want to have SPDY support under android 5.0, action of okhttp makes me confused.

[2016-04-18 09:26] CatPlanet commented on #2482
Can anyone open this issue until it is verified?

[2016-04-18 14:36] artem-zinnatullin opened #2491 "X509 certificate public key fingerprint can be different on different Android versions"
We have pinned hostname agains self-signed root certificate.

Problem is that calculation of `sha fingerprint` for the certificate during the check in `CertificatePinner` gives different results on `Android <= 5` and `Android > 5` -> leads to `SSLPeerUnverifiedException`.

Of course, implementations of `sha256` and `sha1` are correct on both Android versions and both devices receive same certifica

[2016-04-18 15:58] swankjesse commented on #2491
Could you provide a URL whose cert demonstrates this problem? It might not be a different bytes for the same root CA cert; rather it could be two different certs.

[2016-04-18 16:17] swankjesse commented on #2490
NPN is obsoleted by ALPN, and SPDY is obsoleted by HTTP/2. Maintaining both ALPN and SPDY is too much code, so we got rid of NPN.

We’ll be dropping SPDY soon too.

[2016-04-18 16:17] #2490 closed

[2016-04-18 16:18] artem-zinnatullin commented on #2491
Not sure I can post link to the api here (yeah yeah, it's easy to get it from the apk, but yeah, sorry).

Certificates are the same, I get `ourCertificate.toString()` from Android 4.3 and 6.0: public key, serial number and other significant info are the same. **But** `toString()` format is completely different between 4.3 and 6.0, on 4.3 it has more fields that filled with white noise like `ffffff

[2016-04-18 16:34] swankjesse commented on #2482
Unloading code is awkward to implement, difficult to test, and yields little benefit in modern app architectures. You're better off using JRebel in development and restarting the JVM on the server.

We may try to make this work, but code unloading is not an advertised feature of this library. Relying on it may cause other problems. For example, our disk cache doesn't support multiple concurrent in

[2016-04-18 17:56] CatPlanet commented on #2482
Restarting JVM as a solution to memory leaks in life-cycle aware application sounds pretty flimsy to me, to be honest. It sounds like I would have to restart my Android every 4-5 apps I started and closed.

Direct access to thread pools would do the trick. It might look dirty but in some cases (like using okhttp in server-side apps) it would definitely pay off, especially when pools don't exit asy

[2016-04-18 20:49] yschimke commented on #2480
If there is no day to day urgency for this (3.4 timeframe), I'm happy to pick this up.  Close to my heart and I'm looking to contribute to the project.

[2016-04-19 08:36] swankjesse commented on #2480
@yschimke I’m pretty fussy about how these sorts of things are integrated. Usually it’s whatever keeps the behavior most-automatic for the end user, with us eating the complexity in Platform.java. If you’re up for that, sure, please send a PR.

[2016-04-19 13:04] yschimke commented on #2480
That sounds fair.  Let's see how a PR goes.  Can we say I'm used to your rejections in PRs by now?

Thanks

[2016-04-20 05:52] yschimke commented on #2480
PR is here https://github.com/square/okhttp/pull/2494

[2016-04-20 06:06] yschimke commented on #2480
One question, should this be also setting SNIHostName on SSLParameters as well for SNI support?

[2016-04-20 08:10] swankjesse commented on #2480
Yes, doing SNI also would be great. For a separate follow up PR though please.

[2016-04-20 17:17] yschimke commented on #2480
I need to confirm this with tests but I believe SNI is already working as is, so the PR will be stating this in the docs and some test evidence that its the case.

[2016-04-20 23:29] alanlee-gn commented on #2363
I had a similar issue and resolved it by setting "Connection: close" in the header.

It seems "Keep-Alive" is added to the header by default and was causing an issue for me.

[2016-04-20 23:34] alanlee-gn commented on #2486
FYI, I was seeing the same error and resolved it by setting "Connection: close" in the header.

It seems "Keep-Alive" is added to the HTTP header by default and was causing an issue for me on subsequent requests.

[2016-04-21 00:56] getintouchapp commented on #2230
@ThomasSunderland

Yes that's correct. It should be

[code]

[2016-04-21 06:25] chethann opened #2497 "Multiple requests going in case of request close"
I am using Fresco with OkHttp 2.7.4. By default the image request from the previous activity won't get canceled when we switch to a new activity. This makes the new activity load slower as previous requests are still running. So I am closing the all the image requests in `onStop()` of my activity based on `tag`.

The request are getting closed, all good...But the requests are fired again to downlo

[2016-04-21 06:56] JakeWharton commented on #2497
This was [posted to StackOverflow][1] (presumably by you) which is the correct place to ask usage questions.

 [1]: http://stackoverflow.com/q/36761432/132047

[2016-04-21 06:56] #2497 closed

[2016-04-21 07:30] southerton81 commented on #2486
Thank you for the tip, I'll give it a try. However, I'm afraid that with "Connection: close" flag we would loose some performance, as OkHttp tries to reuse open connections. But I think it would be OK to set this header only in this 401 situation.
I did a JUnit test case with MockWeb server but was unable to reproduce this, though it always happens on real server.

[2016-04-21 07:33] swankjesse commented on #2230
(The package name is `okhttp3` with no `com.squareup` prefix.)

[2016-04-21 07:48] mopsop commented on #205
Any news about the digest authentication in okhttp ?
I tried to use the solutions listed previously without success :(

[2016-04-21 08:41] LiHanGuang opened #2498 "[Question] How to remove interceptors?"
Hello dev:

     How to remove interceptors?  thanks.

[2016-04-21 09:08] wingsum93 commented on #2230
-keepattributes Signature
-keepattributes *Annotation*
-keep class okhttp3.** { *; }
-keep interface okhttp3.** { *; }
-dontwarn okhttp3.**

it is all corect for okhttp3

[2016-04-21 09:10] fhaertig commented on #1721
I had the same issue: only return a valid MockResponse when the request contained a "Authorization" header. Spent some hours with that, but the solution is very simple:
okhttpclient seems to try the url first without authorization header and only if the response is "HTTP/1.1 401 Not Authorized" it will add the header and make a new request. So you need to set a dispatcher at MockWebServer and in c

[2016-04-21 09:34] rfc2822 commented on #205
@mopsop Our implementation is still not caching, but it's usable (and used in real life): https://gitlab.com/bitfireAT/dav4android/blob/master/src/main/java/at/bitfire/dav4android/BasicDigestAuthenticator.java

[2016-04-21 10:42] ronocod commented on #2487
Getting a similar error when calling `chain.proceed(chain.request())` in the `intercept(Chain chain)` method in an `Interceptor`. We're using version 3.2.0.
[code]

[2016-04-21 12:01] dave-r12 commented on #2487
@ronocod that actually looks like a slightly different stack trace. Are you releasing your reference to OkHttpClient?

[2016-04-21 13:46] JakeWharton commented on #2230
Those rules are massively over matching. As far as I can tell you don't
need any ProGuard rules for OkHttp.

On Thu, Apr 21, 2016, 5:08 AM eric ho <notifications@github.com> wrote:

[2016-04-21 13:47] JakeWharton commented on #2498
If you call .newBuilder() the List is exposed as a public field to be
manipulated.

On Thu, Apr 21, 2016, 4:41 AM LiHanGuang <notifications@github.com> wrote:

[2016-04-21 13:48] JakeWharton commented on #2487
Please paste your interceptor code.

On Thu, Apr 21, 2016, 8:01 AM Dave Roberge <notifications@github.com> wrote:

[2016-04-21 14:37] ronocod commented on #2487
[code]

[2016-04-21 14:48] mik9 opened #2500 "No request is sent if cached one has date from future."
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-04-21 16:17] mopsop commented on #205
I tried to adapt the code to use it with a Proxy with digest authentication by changing the header names, but the authentication fails :( And I would like something for Android and Java

[2016-04-21 18:39] dave-r12 commented on #2481
Closed with #2499.

[2016-04-21 18:39] #2481 closed

[2016-04-21 19:01] #2498 closed

[2016-04-22 02:24] iNoles commented on #2487
@ronocod Response Body have to be CLEAR in all cases including errors.

[2016-04-22 06:33] chuwe1 opened #2501 "How to use it"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-04-22 08:02] swankjesse commented on #2488
Although I like this idea it grows the amount of stuff we’re responsible for.

I’m not currently prepared for the extra responsibility of additional languages in any official capacity. It is nice because it is inclusive, but it is not nice because it suggests things that I do not want to suggest In particular it implies we’ll be able to support issue reports in non-English languages, which we cann

[2016-04-22 08:02] #2488 closed

[2016-04-22 09:39] wznshuai opened #2503 "[Question] okhttp3 when 302"
when 302 error, the server add a cookie value in response header, need next request set cookie.
but, i dont know how to set cookie at next request.
 pls help me,  thanks very much

[2016-04-22 11:46] ytinrete opened #2504 "Not comsumimg ResponseBody making X.0.tmp and X.1.tmp files in the cache"
I'm using cache in okhttp3 in my code.
However in some circumstances the cache doesn't work.
Eventually it turn out to be in some occasions I didn't comsume the ResponseBody so the closeQuietly() method will not be call.
Now I'll call response.body().close() if I'll not use it and everything works well.

But I also notice that even if in my wrong using way, the cache folder will still cache some d

[2016-04-22 12:41] AdamMiltonBarker commented on #1685
Also having this issue, in gradle have added the following and included the jar in libs as per the docs here:

https://square.github.io/okhttp/

Added in gradle:

    compile 'com.squareup.okhttp3:okhttp:3.2.0'

What is missing ?

[2016-04-22 12:43] dave-r12 commented on #2487
Sorry, that probably wasn't clear. To me, the stack trace from @ronocod suggests either the application is leaking a Cache instance without closing it, or there is a file leak in the DiskLruCache, specifically the journal writer.

@ronocod can you confirm you're not leaking an OkHttpClient/Cache instance in your app? Are you holding onto a strong reference to OkHttpClient for the entire lifetime o

[2016-04-22 12:55] SeameX opened #2505 "Logging - Please let the underlying log implementation open"
Feature Request

Please remove these sout/syso and implement a logging framework.
**Let the underlying log implementation open!**

As Developer i want to use my own logging implementation and i dont want to have sout's

Best regards

Stefan

[2016-04-22 14:03] plrunner opened #2506 "HTTP2 POST - java.io.IOException: stream was reset: REFUSED_STREAM"
Hi,
we are using okhttp v3.2.0 and, in the attempt to migrate to http2, we compiled nginx v1.9.15 (latest as of today) against libssl 1.0.2g (ALPN support). Any client platform other than okhttp works as expected.

As far as okhttp is concerned, it looks like GET requests are correctly served by nginx, although the app fails with the following error while submitting any POST request:

[code]

Ngin

[2016-04-22 14:36] yschimke commented on #1711
This is old, but I think you can close this as it definitely works

https://github.com/yschimke/oksocial/blob/master/src/main/java/com/baulsupp/oksocial/Main.java#L379

@tofutim the best way to test I found is with "openssl s_server -Verify ..."

[2016-04-22 14:48] yschimke commented on #1019
I'm working with a backend that supports plaintext assumed http/2.  So I'd like to look into this, ideally both

- plainttext h2c via upgrade
- http/2 only for both http and https e.g. assumed without ALPN

Specifically this could relax OkHttpClient.Builder.protocols

[code]

[2016-04-22 14:59] tazio commented on #2506
I have just met this issue, too. HTTP2 is the future, I hope this get fixed fast as I'd love to use it in my Android apps.

[2016-04-22 16:13] swankjesse commented on #1019
There's no spec for plaintext assumed HTTP/2. That's nonstandard and won't work with other tools.

[2016-04-22 16:22] yschimke commented on #1019
Isn't this section "3.4 Starting HTTP/2 with Prior Knowledge"

http://http2.github.io/http2-spec/index.html#rfc.section.3.4

[2016-04-22 16:39] #1711 closed

[2016-04-22 16:39] swankjesse commented on #1711
Awesome.

[2016-04-22 16:57] swankjesse commented on #2506
Thanks for the thorough investigation. I'll take a look.

[2016-04-22 17:05] swankjesse commented on #2504
You have to consume the complete response body for OkHttp to successfully cache it.

[2016-04-22 17:05] #2504 closed

[2016-04-22 18:17] swankjesse commented on #2500
There's already some mitigation against this in the CacheStrategy class. One challenge is that we don't know whose clock is wrong: the local client or the remote server.

[2016-04-22 18:22] mik9 commented on #2500
Yeah, I understand this.
I'm just thinking that if something goes wrong it's better to send request.
Just my opinion.

Thanks for the reply.

On Fri, Apr 22, 2016, 21:18 Jesse Wilson <notifications@github.com> wrote:

[2016-04-22 18:23] swankjesse commented on #1019
Ah you're right. I still think it’s unwise to skip the upgrade path.

[2016-04-22 18:26] yschimke commented on #1019
Unfortunately, if the server also assumes h2c over plaintext then the initial HTTP/1.1 request with upgrade header will cause the server to barf

[2016-04-22 20:02] plrunner commented on #2506
Welcome and thank you for this great lib.
Feel free to ask me to carry out any test you consider useful to solve this issue.
Moreover, if you find it useful I can provide you an apk performing a faulting request against our test environment.

PL

[2016-04-23 07:46] JakeWharton commented on #2480
I think everything in here was resolved, correct?

[2016-04-23 13:22] swankjesse commented on #2503
Please ask questions on Stack Overflow.

[2016-04-23 13:22] #2503 closed

[2016-04-23 15:25] yschimke commented on #2480
AFAIK

[2016-04-24 03:09] #2480 closed

[2016-04-24 03:09] swankjesse commented on #2480
Thanks!

[2016-04-24 17:28] swankjesse commented on #2506
Could you try with frame logging enabled in OkHttp? That should help to figure out what’s happening on the client side. Pasting this somewhere is the easiest way to do that:

[code]

It needs a static variable because the Java logging API may lose its configuration unless you have that.

[2016-04-24 17:32] plrunner commented on #2506
Thanks for the quick reply.
I'll get back as soon as I have the logs from our developers.
PL

[2016-04-24 22:17] npomfret commented on #2143
I have a react-native app that really needs this.  It makes use of a java library that has a REST API which needs basic auth (user name and password in the url) -> https://user:pass@localhost:8888/...

There's no option to provide the auth as a header when supplying an image with one of these urls.

[2016-04-24 23:20] swankjesse commented on #2143
For basic auth you can just set the header manually. See the Credential class to build a basic auth header.

[2016-04-25 07:59] npomfret commented on #2143
Thanks.  The user of this is the Facebook Fresco api, so I'll have to try and get that [changed](https://github.com/facebook/fresco/issues/1152).  Out of interest what's the reason for not wanting to include it?

[2016-04-25 10:00] PieterAelse commented on #2119
Same here, Crittercism/Hockey app is complaining in our released app. Using OkHTTP 2.6.0

[2016-04-25 10:44] mohuanly opened #2508 "Problem in Cookie.parse"
We got a problem while developing a android client with OkHttp 3 and a server with node.js. When the client posted requests to the server, it received responses with cookies, which had a field named  'expires" and followed by the expire time in GMT format. But, when the client  ran into the Cookie.parse method, the "persistent" attribute was surely set to be "true", regardless of the value of "exp

[2016-04-25 11:07] swankjesse commented on #2508
It's exactly as the spec wants:
https://tools.ietf.org/html/rfc6265#section-5.3

You'll want to read how the spec defines persistent to understand why.

[2016-04-25 11:07] #2508 closed

[2016-04-25 13:22] long-greg-c opened #2509 "[Feature Request] MultipartBody.Builder to allow a custom header to be added to a Part"
Quoting the [multipart recipe](https://github.com/square/okhttp/wiki/Recipes#posting-a-multipart-request)

If I wanted to add a header to the request body Part, for example a `Content-MD5: ...` checksum header, then I would not be able to use the method `addFormDataPart(String name, String filename, RequestBody body)`, and by using that method take advantage of the provided Content-Disposition hea

[2016-04-25 14:25] swankjesse commented on #2143
Do Chrome and Firefox still implement that? As far as I can tell this behavior is obsolete.

[2016-04-25 14:55] Yazon2006 opened #2510 "Headres logging"
[code]

It does not log "test : test" header! It's a bug!

[2016-04-25 14:59] JakeWharton commented on #2510
You added the logging interceptor _before_ the interceptor which adds the header. Add the logging interceptor after all other interceptors to see everything that might be added.

[2016-04-25 14:59] #2510 closed

[2016-04-25 15:34] npomfret commented on #2143
They do.

The reason I need it is that I'm making use of an http service that requires an auth header, even for loading image content.  And there's no way I can specify anything about the transport layer I'm using.  I'm writing in javascript (react-native), which calls react-native java code, which calls the Facebook fresco api, which calls OkHttp. :(

[2016-04-25 16:32] Yazon2006 commented on #2510
@JakeWharton

This does not work too:

[code]

[2016-04-25 16:35] JakeWharton commented on #2510
Network interceptors always come after application interceptors. See
https://github.com/square/okhttp/wiki/Interceptors

On Mon, Apr 25, 2016 at 12:32 PM Maksim Motorny <notifications@github.com>
wrote:

[2016-04-25 16:42] Yazon2006 commented on #2510
@JakeWharton thank you!

[2016-04-25 17:03] mohan-mishra opened #2511 "NetworkOnMainThread Exception when calling okhttpclient.cancel(tag)"
ndroid.os.NetworkOnMainThreadException
                                                             at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1273)
                                                             at com.android.org.conscrypt.OpenSSLSocketImpl.shutdownAndFreeSslNative(OpenSSLSocketImpl.java:1131)

[2016-04-25 17:04] mohan-mishra commented on #2511
Using okhttp 3.2.0

[2016-04-25 17:06] JakeWharton commented on #2511
This is OkHttp 2.x, not 3.2.0.

[2016-04-25 17:49] #2511 closed

[2016-04-25 18:22] JakeWharton commented on #2511
This was fixed in OkHttp 3

On Mon, Apr 25, 2016 at 2:19 PM Mohan Mishra <notifications@github.com>
wrote:

[2016-04-25 18:50] plrunner commented on #2506
Here you go:
[code]

PL

[2016-04-25 22:02] MoshDev opened #2512 "setHeaders() has surprising, bad side effects for MockResponse"
Using MockWebServer to test api requests.

`mockServer.enqueue(new MockResponse().setBody("Anything").setResponseCode(HttpURLConnection.HTTP_OK));`
returns successfully the response

`mockServer.enqueue(new MockResponse().setBody("Anything").setResponseCode(HttpURLConnection.HTTP_BAD_REQUEST));`
throws read time out exception

[2016-04-26 00:05] Wavesonics commented on #2487
@dave-r12 I am holding onto a static instance of OkHttpClient, which it's self is holding onto the cache (_I'm just newing it up and passing it to the builder, none of my code directly references the cache_).

Are you thinking that could somehow be leaking these cache responses?

My somewhat uninformed guess is this could be in `Cache.get()`

[2016-04-26 01:33] swankjesse opened #2513 "Forbid cleartext if Android’s NetworkSecurityPolicy says so"
We can ask [NetworkSecurityPolicy](https://developer.android.com/reference/android/security/NetworkSecurityPolicy.html) if the device permits cleartext. If it doesn’t, we can strip that ConnectionSpec from the client’s configuration.

[2016-04-26 03:54] swankjesse commented on #2512
Could you provide a complete failing JUnit test that would pass if we fix the bug?

[2016-04-26 06:01] wznshuai commented on #2503
HI, @swankjesse .
i fixed cookie question with new OkHttpClient().newBuilder().cookieJar, but i don't understand the 302 request is a post method,the redirects request change to a get method. the redirects get method request no from(param)

like this:
![image](https://cloud.githubusercontent.com/assets/1897647/14808290/b0511008-0bb6-11e6-92ca-41200265adec.png).

Disturb you，because Stack Overflow

[2016-04-26 10:24] Yazon2006 commented on #2510
@JakeWharton  Me and my young team still think that this is a bug. Because expected result is not what are we get. We adding Interceptor, but it's not working. We should get warning or even exception. Try to use in Picasso centerCrop without fit or resize and you will get runtime exception. It's much better than serching the reason of what a hell is going wrong.

[2016-04-26 11:15] swankjesse commented on #2503
Please study the code and the specs. That's the best way to learn!

[2016-04-26 11:42] dave-r12 commented on #2487
@Wavesonics no, I was referring to the stack trace that @ronocod pasted. Your stack trace is different. If you believe you are closing the response body in all code paths, can you try to reproduce what you are seeing with a failing test case, or a pared down example?

[2016-04-26 11:47] dave-r12 commented on #2487
@Wavesonics no, I was referring to the stack trace that @ronocod pasted. Your stack trace is different. If you believe you are closing the response body in all code paths, can you try to reproduce the issue you are seeing with a failing test case, or pared down example?

[2016-04-26 12:31] swankjesse commented on #2143
Which versions? How'd you confirm that they support this?

I used whatever version I have on my Mac and I entered a URL like `http://user:pass@localhost/` into the address bar and didn't observe an auth header in either my dev tools or Charles proxy.

[2016-04-26 12:50] npomfret commented on #2143
Hmm, not sure why you're not seeing it.  Here's what I see when I hit my server with this URL in chrome

`http://admin:pass@localhost:5984/pomochat_5425c828-faa6-41f4-b574-74a322429e60/54fa8607-7ccf-4f2e-a74b-11cbda1c7af3/cad43e2d-4375-4f26-8a48-8923ba11749a
`

![screen shot 2016-04-26 at 13 48 32](https://cloud.githubusercontent.com/assets/5489469/14818545/b0ed77be-0bb5-11e6-8606-a6b17f97715b.png

[2016-04-26 12:57] npomfret commented on #2143
I've dug a little deeper and it not obvious from the Chrome output whats happening here.

From the source code of this server I'm using I can see that if the Authorisation header is not present it returns a 401 along with `"WWW-Authenticate", "Basic realm=\"blah\""`.  I guess the browser responds to this by making a 2nd request with the header added, or something like that.  It's strange that chro

[2016-04-26 13:59] MoshDev commented on #2512
`  @Test
  public void sampleTest() throws IOException, InterruptedException {

    String responseText = "Hello Text";

    MockResponse mockResponse = new MockResponse().setResponseCode(HTTP_OK).setBody(responseText).setHeaders(responseHeaders);
    mockServer.enqueue(mockResponse);

    String result = sampleApiRequest();

    assertEquals(result, "Hello Text");

  }

  public String sampleApiR

[2016-04-26 14:00] MoshDev commented on #2512
seems I found the bug,

[2016-04-26 14:46] rafalniski commented on #2440
I also encountered this issue, we are using Socket.io too. Stacktrace: http://crashes.to/s/1798f721c8f

[2016-04-26 14:56] swankjesse commented on #2143
Ahh, so the authentication isn’t pre-emptive. I missed that.

[2016-04-26 14:57] swankjesse commented on #2143
Can you hook up an OkHttp interceptor?

[2016-04-26 15:11] swankjesse commented on #2512
Does `responseHeaders` include a `Content-length` ? If it does, it must match the body’s content length.

[2016-04-26 15:30] dave-r12 commented on #2506
@swankjesse not sure if you've had time to make progress on this. I was able to reproduce by spinning up a VM in GCP using the Ubuntu 16.04 image (it has latest nginx and openssl.) I missed this in the pastebin above, but nginx is logging this message:

[code]

[2016-04-26 15:42] shobhitpuri commented on #2440
@rafalniski Now I close the socket as soon as the app goes into background. Haven't seen the exception since then.

[2016-04-26 16:01] npomfret commented on #2143
I'm not familiar with the code base but I could try.  Actually, there's one right at the top of this discussion.  Will that work?

[2016-04-26 16:26] raoulbhatia commented on #2506
I think I am affected by exactly this issue, using bitfireAT/davdroid

nginx error log:
[code]
davdroid debug logs show:
[code]

see https://forums.bitfire.at/topic/1070/issues-with-http-2-0

[2016-04-26 16:39] dave-r12 commented on #2506
I'm wondering if they were thinking we'd retry the request?

[2016-04-26 16:55] swankjesse commented on #2143
Yup!

[2016-04-26 17:45] dave-r12 commented on #2506
Here's the commit that introduced this, https://github.com/nginx/nginx/commit/536b5510d1051281bd9411723102333e6d1dbdf2

Seems strange, but I think it's within the spec.

[2016-04-26 19:35] plrunner commented on #2506
@dave-r12, in facts with nginx v1.9.14 the behaviour was pretty different, but even more nasty and hard to be exposed: POST requests in my case were served in around 12 seconds or so. I was about to open an issue while experimenting with 1.9.14 but I thought the problem might be in my configuration.

[2016-04-26 20:03] codebaum commented on #2323
I was able to make it work with Retrofit 2.0.2 and Crittercism 5.5.5, but I had to disable service monitoring via CrittercismConfig.

[2016-04-26 20:12] dshirley commented on #2323
@codebaum  You shouldn't have to disable service monitoring anymore.  The bug was fixed in Crittercism 5.6.1.  An even later version (5.6.3( is now available.

[2016-04-26 20:21] codebaum commented on #2323
@dshirley Never mind, I thought it wasn't working with 5.6.3-rc-1 but I re-tested and I'm not seeing a crash anymore.

[2016-04-26 21:40] psniranjan opened #2514 "User-Agent Header not used for TLS tunnel"
In case where HTTP tunnel is needed, the "User-Agent" header is reset and the default agent "okhttp/3.x.x" is used. This is causing the request being ignored as its considered to be originating from an unknown client.

Reference code from RealConnection.

[code]

[2016-04-26 22:01] rogerhu commented on #2323
Just a friendly ping to see if we can get a fix/release for this issue.  Trying to get things updated for the Parse SDK so would want to have a way to make a call to systemDefaultTrustManager()

[2016-04-26 22:13] MoshDev commented on #2512
`responseHeaders = new Headers.Builder().add("Content-type", "application/json; charset=UTF-8").build();`

[2016-04-27 00:15] swankjesse commented on #2506
It’s unfortunate that this will require the client to wait for the server’s settings before it can transmit its first request. It adds head-of-line blocking that HTTP/2 tries so hard to avoid.

Sigh. [Section 3.5](http://http2.github.io/http2-spec/index.html#rfc.section.3.5) says what we’re doing is okay:

I think we’re keeping up our side of the bargain, and OkHttp does honor SETTINGS on all stre

[2016-04-27 00:50] swankjesse commented on #2506
@dave-r12 can you check to see what other clients do? Does curl wait for the SETTINGS frame before sending a POST? I’m not sure if there’s an easy way to delay that from being sent in nginx, but if you added a 5 second sleep or something it’d be pretty easy to see what it does.

[2016-04-27 00:53] swankjesse commented on #2512
Ahh, got it. The problem is that `setHeaders()` actually clears the existing headers, which wipes out anything necessary to specify body’s content-encoding or length.

[2016-04-27 01:14] dave-r12 commented on #2506
Got it. Took a peek at golang's client. If I'm reading it right, it looks like they send SETTINGS frame, then WINDOW_UPDATE frame, then block on reading a frame, which they require to be SETTINGS. Finally they ACK the settings and start the reader go routine.

See here https://github.com/golang/go/blob/master/src/net/http/h2_bundle.go#L5060

Agree with your description, I'm still struggling with w

[2016-04-27 01:39] swankjesse commented on #2506
Yeah. There’s been so much work done to eliminate “connection startup chattiness”. Seems like blasting the initial frames first should be a win to reduce latency.
https://www.mnot.net/blog/2016/04/22/ideal-http

[2016-04-27 02:26] swankjesse commented on #2506
I asked the experts: https://lists.w3.org/Archives/Public/ietf-http-wg/2016AprJun/0174.html

[2016-04-27 03:42] #2513 closed

[2016-04-27 03:59] ktchernov opened #2516 "EOFException without attempting a connection if the previous connection closed at the end"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [X] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-04-27 04:17] swankjesse commented on #2516
Not succeeding here is kind of the entire point of `retryOnConnectionFailure(false)`. We can’t efficiently detect that the socket has been closed (the FIN packet might not have even arrived yet!) and so we attempt and retry.

The warning on that method makes your obligations as the caller clear:

[code]

[2016-04-27 04:17] #2516 closed

[2016-04-27 05:10] swankjesse commented on #2506
On guidance from experts I asked nginx for a fix: https://trac.nginx.org/nginx/ticket/959

[2016-04-27 05:22] RyanSpeaking commented on #2204
In version 2.3, 2.4, it might have the same problem.

This issue could be across 3 feature/bug fix.
I found this on Android L and M version.

And this could be also related to many similar issues discussed here before.

Provide to you for reference.

1.
commit a8327d121b9eeb3b61ae63f06095d423936a5da2
Author:	Neil Fuller <nfuller@google.com>  Sat Nov 29 01:38:53 2014
Committer:	Neil Fuller <nfuller

[2016-04-27 05:39] 2fours opened #2517 "manually add cache entry?"
After I POST a file to my server I get back a url to the file. I'd like to add this url to the cache manually with the data I just uploaded so I don't have to waste bandwidth on a GET. Is this possible? Previously did this with apache's http client using the following code:

[code]

[2016-04-27 05:51] swankjesse commented on #2517
OkHttp has no APIs to seed its cache.

[2016-04-27 12:05] dave-r12 commented on #2506
Nice!

[2016-04-27 12:11] DuDu371 opened #2519 "Not calling hostnameVerifier on android api <19"
I'm writing a application that cache images using Glide with okHttp3 integration. The images are on a https not-self-signed server. If i try to download the images directly the security check failed, so i write a code that bypass security checks. Then the images are displaying just fine. Today i tried the application on api 16 (android 4.1.2) and the method verify of HostnameVerifier it's never ca

[2016-04-27 15:11] yschimke commented on #2340
I'd suggest if your aim is to remove in 3.4, could 3.3 be a good release to remove it as a default, but allow clients to opt in?

[code]

[2016-04-27 16:39] sunfeng90 commented on #1266
I got this problem,how to solve?

[2016-04-27 16:48] sunfeng90 commented on #282
How to solve in Eclipse?

[2016-04-27 18:01] sandro-csimas commented on #1266
@sunfeng90, Is your case similar to mine?
Check my comment above.

[2016-04-27 18:15] sunfeng90 commented on #1266
No.I use okhttp-3.2.0, okio-1.7 ,but I got the error “java.lang.NoClassDefFoundError:okhttp3.MediaType” and "could not find class okhttp3.OkHttpClient".What should I do ? I develop in Eclipse!Thx. @sandro-csimas @JakeWharton

[2016-04-27 18:17] caplan opened #2521 "MockWebServer#shutdown fails if client makes more requests than we have enqueued"
using 2.7.5:

[code]

Even though this is an error on the part of the calling code (sending more requests than we have responses), it doesn't seem appropriate for `shutdown()` to throw an exception.

Here's the stack trace:

[code]

[2016-04-27 18:28] raoulbhatia commented on #2506
FYI, same issue with ```nginx version: nginx/1.10.0 (Ubuntu)```

see http://packages.ubuntu.com/search?keywords=nginx -> xenial-updates

[2016-04-27 21:34] efung opened #2522 "Exception message from Headers uses Arabic-Indic numerals for character position in some Arabic locales"
# Problem
When there is an invalid character in an HTTP header set via `Headers.Builder`, the exception that is thrown indicates the position of the offending character using [Hindu-Arabic numbers](https://en.wikipedia.org/wiki/Hindu%E2%80%93Arabic_numeral_system) when the locale is `ar_EG`, Arabic (Egypt).

e.g.
`java.lang.AssertionError: Unexpected char 0x668 at ٢٥ in header value: Custom Http C

[2016-04-27 21:42] JakeWharton commented on #2522
This seems like an application bug, not an OkHttp bug.

HTTP requires ISO-8859-1 for header values but it's effectively just ASCII. If you are creating a user agent using `String.format` then you should pass a `Locale` as the first argument which will ensure it renders to ASCII (such as `Locale.US`).

[2016-04-27 22:39] swankjesse commented on #2522
I think the problem is that OkHttp assumes that `%d` will return a ASCII digit and it doesn’t. I didn’t know that was possible, and it suggests we probably want `%s` wherever we’re currently using `%d`. Ugh!

[2016-04-27 22:42] JakeWharton commented on #2522
Oh this report is about the exception message itself. Got it.

[2016-04-27 22:42] swankjesse commented on #2522
We want to replace calls like this:
[code]
with calls like this:
[code]

[2016-04-27 23:12] ktchernov commented on #2516
It is strange though, the first call (where the socket is closed) succeeds. It is the next call that fails. Is that the correct behaviour?

[2016-04-28 01:10] swankjesse commented on #2516
Yes. Because we reuse connections. More details here: https://github.com/square/okhttp/wiki/Connections

[2016-04-28 01:40] efung commented on #2522
Yeah, it was a surprise to me too. But the usage of localized decimal digits is buried in [`java.util.Formatter`](https://developer.android.com/reference/java/util/Formatter.html):

[2016-04-28 14:44] sunfeng90 commented on #1266
I want to give up okhttp in my project, because it's boring with so many errors!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-04-28 14:45] JakeWharton commented on #1266
These errors are with your project's configuration, not OkHttp.

On Thu, Apr 28, 2016 at 10:44 AM Frank Sun <notifications@github.com> wrote:

[2016-04-28 14:46] sunfeng90 commented on #1266
What's more, last version cannot fit the code which is given as examples.

[2016-04-28 15:09] sunfeng90 commented on #1266
Sorry，my fault!

[2016-04-28 20:59] Fireblend opened #2524 "Retrofit 2.0.1 + okhttp 3.2.0: GET not working when connected to WiFi network (SocketTimeoutException)"
I've found what appears to be a bug when performing a GET request to a private API. What is peculiar about this issue is the fact that even though it sometimes occurs when the Android device is connected to the mobile data network (around 10% of the time), on WiFi it just will **never** work, under any circumstance.

I've tested the same GET request using Postman, the private API's swagger interfa

[2016-04-28 21:50] ThatOdieGuy opened #2525 "Option to force use of the system proxy"
This is continuing from [Stack Overflow](http://stackoverflow.com/questions/36757076/prevent-okhttp-retrofit-from-bypassing-proxy).

When OkHttp tries a proxy in Android, and that route fails once, every request after that request will completely bypass the Android system proxy. So it is difficult to debug using Charles. [Test case](http://pastebin.com/iSCYwXmQ)

@swankjesse replied that it's beca

[2016-04-29 00:55] swankjesse commented on #2524
This doesn’t seem to be an OkHttp issue. It’s more like an issue with your network. Ie. I don't know if there’s anything we’ll be able to do to help.

[2016-04-29 01:11] swankjesse commented on #2525
Aside from the nicer API, is this different from calling `setProxy()` on the OkHttpClient?

[2016-04-29 02:31] sunfeng90 commented on #1266
@JakeWharton How to solve this? It cannot figure with version 1.2

[2016-04-29 02:32] sunfeng90 commented on #1266
I use Okhttp 2.7 or last release and okio 1.6, but cannot figure out!

[2016-04-29 02:41] #2522 closed

[2016-04-29 02:46] sandro-csimas commented on #1266
@sunfeng90, this is a project configuration error. For some reason your project are not including okhttp and its dependencies in your final apk.

[2016-04-29 08:57] plrunner commented on #2506
I must admit my limited knowldge of http2 does allow me to comprehend in full details the [answer from vbart ](https://trac.nginx.org/nginx/ticket/959#comment:1). Anyway it looks like the RST_STREAM is returned for other reasons, doesn't it?

[2016-04-29 09:48] olx-gaurav-mishra opened #2526 "Getting a crash with Facebook sdk 4.5.0"
Not sure about reproduction steps as haven't been able to reproduce. Below are crashlytics log

Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=0; index=0
       at com.android.okhttp.internal.Util.rjil_playstore_download_case(Util.java:309)
       at com.android.okhttp.HostResolver$1.getAllByName(HostResolver.java:31)
       at com.android.okhttp.internal.http.RouteSelector.rese

[2016-04-29 10:52] farruxx opened #2527 "Cancelling big response."
When server response with stream, I must check headers of response and decide continue or close stream. When I call `call.cancel()`, it doesn't cancel instantly, I use facebook's Stetho, and it takes more time to proccess request, that means, it not cancelling.
Then I try use `responce.body().close()`. It works. But the next requests get a Protocol Exception.
Seems, method `cancel()` not work corr

[2016-04-29 11:14] swankjesse commented on #2506
It means we may need to recover in OkHttp somehow.

[2016-04-29 11:19] swankjesse commented on #2526
This is a surprising line in your stack trace.
[code]
What device is this on? Which version of Android? The manufacturer has hacked OkHttp to do something weird after a DNS query and that code is crashing.

Nothing we can do unfortunately. Report this to the device maker.

[2016-04-29 11:19] #2526 closed

[2016-04-29 11:23] swankjesse commented on #2527
Nit sure what action to take here. Could you provide a test case to show what you're seeing? We request test cases for all bug reports. Our codebase has plenty of examples.

[2016-04-30 01:29] sunfeng90 commented on #1266
How to configure? I add okhttp and okio jar,but cannot solve.I use Eclipse, not Android Studio.What's the dependencies?

[2016-05-02 06:27] yschimke commented on #1019
Minus the plaintext Upgrade support which I'm still working on this turned out pretty easy to add assumed h2c mode, and http/2 only via ALPN.  Do you see any reason why this couldn't land once completed with proper tests etc?

https://github.com/yschimke/okhttp/pull/1/files

[2016-05-02 13:51] Fireblend commented on #2524
Sure, partly it could be attributed to how the network is setup, but even if that's the case, it'd point towards a set of conditions that for some reason cause OkHttp to behave erroneously when other software packages on multiple platforms don't. Wouldn't that still be of interest and worth looking into?

[2016-05-02 17:53] ThatOdieGuy commented on #2525
Probably just a nicer API. I feel like my work around is a little hacky. But it would be nice to have vetted code in the library as I found a bunch of questions online of how to solve this problem, but no solutions.

`//Ask Android what proxies we have setup
    List<Proxy> proxies = ProxySelector.getDefault().select(URI.create("http://www.somesite.com"));

    if (proxies.size() > 0 && proxies.ge

[2016-05-02 18:17] GPack1 commented on #2249
I get

isnt it in okhttp3 package?

[2016-05-02 18:17] JakeWharton commented on #2249
It's in the okhttp3-urlconnection artifact.

On Mon, May 2, 2016 at 2:17 PM GPack1 <notifications@github.com> wrote:

[2016-05-02 18:23] GPack1 commented on #2249
thks, it is not very clear for me the migration from okhttp 2 to 3

[2016-05-02 18:50] swankjesse commented on #2524
Yeah! We always want to be more resilient.

[2016-05-02 19:13] mostleg opened #2530 "Support dynamic table in HPACK of Http/2 when the client working as a request sender"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-05-02 19:20] mostleg commented on #2530
Hi, I'm the owner of this question on stackoverflow:

[Does OkHttp support dynamic table in Http/2 when working as a request sender (writer)?](http://stackoverflow.com/questions/36875785/does-okhttp-support-dynamic-table-in-http-2-when-working-as-a-request-sender-wr)

So let's talk about this. How would OkHttp supports it? Automatically add every headers to dynamic table with some mechanism like L

[2016-05-02 19:49] Fireblend commented on #2524
Is there any information in particular I could provide or anything I should look into that could help me track down the source of this issue? I plan to check if the issue occurs exclusively in this single WiFi network or if it's more widespread issue as I haven't had the chance to do so yet. Let me know if there's any sort of data collection I could do to help track it down.

[2016-05-02 21:01] swankjesse commented on #2530
I’d prefer for us to implement something that’s automatic, like LRU. That’s relatively easy to implement and very easy for users of our APIs.

If you’d like to give it a try, please do. But please make small incremental steps if at all possible. It’s quite possible I won’t like your code (due to style, or implementation, or whatever) and with small steps it’s much more likely we’ll be able to merg

[2016-05-03 00:25] swankjesse commented on #2524
If you figure out what OkHttp is doing differently, that would be a first step.

[2016-05-04 02:38] LucyAna opened #2531 "java.lang.VerifyError: Rejecting class com.squareup.okhttp.internal.spdy.SpdyConnection"
This errors  on a 5.x device.reappear many times.

`java.lang.VerifyError: Rejecting class com.squareup.okhttp.internal.spdy.SpdyConnection because it failed compile-time verification (declaration of 'com.squareup.okhttp.internal.spdy.SpdyConnection' appears in /data/app/cn.kidyn.qdmedical160-1/base.apk)
	at com.squareup.okhttp.internal.spdy.SpdyConnection$Builder.build(Unknown Source)
	at com.squ

[2016-05-04 04:31] jdcormie opened #2532 "HttpURLConnectionImpl loops forever trying to recover from a RouteException after disconnect() is called"
[Test case that demonstrates the problem.](https://gist.github.com/jdcormie/dc1982436ace9750139777e9fcc6ed46
)

I noticed the bug in branch okhttp_27 but it may affect other versions.

In words: the problem is that HttpEngine.recover(RouteException) returns true, indicating that the request can be recovered, even when the HttpEngine itself is cancelled. Yet a call to HttpEngine.connect() on a canc

[2016-05-04 05:10] swankjesse commented on #2531
I'm guessing this is a problem with the device, not with OkHttp. Could you report this to the device's manufacturer?

[2016-05-04 06:31] LucyAna commented on #2531
From more to less in order to have these device's.
M57AC
H23
Doov L5pro
Galaxy S5
...

[2016-05-04 08:33] kungfoo opened #2533 "`isCleartextTrafficPermitted()` fails on OpenJDK 8 + Robolectric"
How to reproduce:
- Install OpenJDK 8
- Use current 3.3.0-SNAPSHOT version
- `new OkHttpClient()`: The code fails in the static initializer, when trying to figure out the platform.

The code that breaks was introduced here: https://github.com/square/okhttp/issues/2513

Either the detection of the runtime is broken, or the code is wrong there. I'll try to figure out an automatic test for this.

[2016-05-04 08:33] kungfoo commented on #2533
This is when running tests with Roboelectric, BTW. So maybe the code thinks, the Platform is android, when it's actually not.

[2016-05-04 09:01] kungfoo commented on #2533
I tried to write up a simple testcase that reproduces this, but apparently it truly is the combination of the following things that make the code fail:

- OpenJDK 8
- Current Snapshot
- Roboelectric (needs to be an android project for this)

[2016-05-04 09:33] kungfoo commented on #2533
Okay, so because the setup is kinda contrived: Here is a sample that reproduces this...

https://github.com/kungfoo/okhttp-on-jdk-with-robolectric

[2016-05-04 09:42] LucyAna commented on #2531
Do not know what factors will be the emergence of these problems.
who can help me ?

[2016-05-04 12:25] swankjesse commented on #2531
You should report the issue to YunOS, that's where the bug is.

[2016-05-04 12:25] #2531 closed

[2016-05-04 12:53] swankjesse commented on #2533
Does it throw or return the wrong result?

[2016-05-04 13:05] kungfoo commented on #2533
It crashes/throws in the static initializer which results in a
ClassNotFoundException.
On May 4, 2016 14:54, "Jesse Wilson" <notifications@github.com> wrote:

Does it throw or return the wrong result?

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub
<https://github.com/square/okhttp/issues/2533#issuecomment-216853566>

[2016-05-04 14:55] swankjesse commented on #2533
@kungfoo could you paste the stacktrace?

[2016-05-04 16:22] kungfoo commented on #2533
Will do later when I get my laptop back online...
On May 4, 2016 16:56, "Jesse Wilson" <notifications@github.com> wrote:

[2016-05-04 17:57] jdcormie commented on #2532
I believe this problem is present in the master branch as well. [The test case is almost the same](https://gist.github.com/jdcormie/f510dc63090b647a5abda61b238c3115) and my proposed fix above appears to work.

[2016-05-04 20:04] kungfoo commented on #2533
If you want to debug the code under the described circumstances, you can simply use gradle to run the sample project I created for this.

Here's the stacktrace:

[code]

[2016-05-04 22:34] prabintim opened #2534 "Unable to shutdown serve when setResponseCode(HttpURLConnection.HTTP_CLIENT_TIMEOUT)"
I am trying to simulate network timeout using code,
[code]
Error: **java.io.IOException: Gave up waiting for executor to shut down**

server.getRequestCount() = 2 when timeout response is set for execution. 500 and 200 are fine.

On the bright side, it actually simulated timeout.

[2016-05-05 01:14] swankjesse commented on #2532
Serious problem. Will fix ASAP.

[2016-05-05 02:06] swankjesse commented on #2534
Could you give me a full test case?

[2016-05-05 03:13] corerzhang commented on #2119
same here, using okhttp 3.2.0

[2016-05-05 04:08] swankjesse commented on #2533
Wanna submit a fix?

[2016-05-05 08:36] PieterAelse commented on #2119
It has been fixed in [Pull request 2388](https://github.com/square/okhttp/pull/2388#issuecomment-216890678) if I'm correct. Waiting on a new release now..

[2016-05-05 09:09] kungfoo commented on #2533
Might be able to do that, when I'm back out of the woods... :)
On May 5, 2016 06:09, "Jesse Wilson" <notifications@github.com> wrote:

[2016-05-05 12:41] dave-r12 commented on #2506
@plrunner can you get POST requests to work at all with nginx 1.9.15? I've been debugging it and it's setting the initial window size to 0, but never sends a window update. I'm likely misconfiguring something but wanted to see if you got it working.

Also, nghttp (which I think curl uses for http2) also behaves as OkHttp. It begins sending data immediately, but fails because nginx sends a REFUSED_

[2016-05-05 15:49] plrunner commented on #2506
@dave-r12
at the moment we are using HTTP1.1

[2016-05-05 16:36] prabintim commented on #2534
@Before
    public void setUp() throws IOException {
        server = new MockWebServer();
        server.start(1234);
        NetworkServiceHelper.init(String.valueOf(server.url("/")));
    }

    @Test
    @LargeTest
    public void login_timeout_access_denied() throws IOException {
        server.enqueue(new MockResponse()
                .setResponseCode(HttpURLConnection.HTTP_CLIENT_TIMEOUT)

[2016-05-05 21:01] dave-r12 commented on #2506
Thanks. I was able to get a POST working with nginx + HTTP2. It enforces 2 unfortunate constraints.

1. We can't send data eagerly (we already knew this.)
2. We must send a HEADERS frame, then hold, in order to receive a WINDOWS_UPDATE frame for the stream to send data. This introduces another round trip.

[2016-05-05 21:10] swankjesse commented on #2534
Thanks! Could you change your test case to be self-contained? Make it as easy as possible for us to fix your bug!

[2016-05-05 21:51] prabintim commented on #2534
I have updated the code above. Also, I am using retrofit and rxjava. My guess with time out is that retrofit is making one more call to server when the first one times out.

Stacktrace:
[code]

[2016-05-05 22:01] JakeWharton commented on #2534
Retrofit does not retry automatically

On Thu, May 5, 2016 at 5:51 PM Prabin Timsina <notifications@github.com>
wrote:

[2016-05-05 22:02] JakeWharton commented on #2534
Seems like a dupe of #2521.

[2016-05-05 23:39] prabintim commented on #2534
Yup.

[2016-05-06 00:31] mostleg commented on #2530
Thanks Jesse. OK I'll try to make small incremental steps.

Based on HPACK, I think an easy way to make use of the dynamic table automatically is keep adding every entry to it if it's not there and worth to be compressed. This will make it work as a FIFO table. Do you think it's OK as our first step?

A question for the headers whose name is in the static table but value is not: Do we add these he

[2016-05-06 01:01] mostleg commented on #2530
I saw that current writer will only use the header name in the static table. So maybe we should just add all the headers whose name is not in the static table to the dynamic table as the first step, is it OK?

[2016-05-06 03:33] JakeWharton commented on #2534
Closing this then. Let's consolidate any efforts on that issue.

I'll take a quick look at this tonight.

[2016-05-06 03:33] #2534 closed

[2016-05-06 05:04] JakeWharton commented on #2521
So the fix for this is fairly easy it turns out, but it begs the question as to whether we actually want the queue dispatcher to accept new connections without an existing response. It would be much easier to eagerly fail on an empty queue.

@swankjesse ?

[2016-05-06 05:31] swankjesse commented on #2521
I’m curious to see what the thread dumps are. I think our current behavior is to terminate all service threads on shutdown, which means we don’t need special behavior for QueueDispatcher vs. other ones.

[2016-05-06 05:32] swankjesse commented on #2521
Oh hang on, we terminate those service threads by breaking their sockets. If the queue dispatcher is empty, then the service thread might be blocked waiting on that. Hmm.

[2016-05-06 05:33] swankjesse commented on #2521
I suppose we could also put a dead letter into the queue on shutdown.

[2016-05-06 05:39] JakeWharton commented on #2521
It is blocked on the dispatcher being empty, yes. You'd have to put as many
responses in as are threads waiting.

Calling shutdownNow in shutdown works with the current model, assuming you
make InterruptedException propagate correctly.

On Fri, May 6, 2016, 1:33 AM Jesse Wilson <notifications@github.com> wrote:

[2016-05-06 09:39] mpp-doric commented on #1135
Dead link update https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/okhttp3/recipes/CheckHandshake.java

[2016-05-06 09:40] doridori commented on #1135
dead link update https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/okhttp3/recipes/CheckHandshake.java

[2016-05-06 09:56] doridori opened #2535 "Improve Certificate Pinning Wiki"
The [cert pinning wiki](https://github.com/square/okhttp/wiki/HTTPS) is a bit misleading. It should be clear that:

1. The pinner will pass if *any single* pin is found in the chain. The example shows adding the full chain to the pinner, which gives the impression the whole chain is checked. I assumed this and see others have too https://github.com/square/okhttp/issues/1583.
2. _"Use CertificatePi

[2016-05-06 12:49] plrunner commented on #2506
@dave-r12
Great! Did you commit your changes somewhere?

[2016-05-06 13:19] dave-r12 commented on #2506
Sorry, I got it working independent of OkHttp, I haven't made any code changes. I was trying to understand what they were doing first. It's a strange interpretation of the spec IMO.

[2016-05-06 14:27] dave-r12 commented on #2506
Maybe some traction from nginx? They just responded on the ticket:

Introducing some kind of preread buffer will be the next step.

[2016-05-07 03:30] swankjesse commented on #2521
We don’t know how many threads are waiting. But we could put just one dead letter in the queue, then when the recipient of a dead letter receives it that recipient could re-enqueue the dead letter. They’d return in serial, but that’s okay ’cause typically there’s only one.

[2016-05-07 03:42] JakeWharton commented on #2521
What about custom Dispatcher implementations? Isn't thread interrupting a
more appropriate mechanism for them?

On Fri, May 6, 2016 at 11:30 PM Jesse Wilson <notifications@github.com>
wrote:

[2016-05-07 14:07] koskimas opened #2537 "OkHttp 3.2.0: Accept-Encoding header not added automatically"
Hi,

I'm creating a client like this:

[code]

And using it with Retrofit like this

[code]

The `userAgent.createOkHttpInterceptor()` interceptor does nothing, but sets the `User-Agent` header. Now when I make any request I get this log:

[code]

[code]

From the documentation I understood that the `Accept-Encoding` header should be automatically added. Do I need to do something else? Or is the `

[2016-05-07 15:10] swankjesse commented on #2537
It’s there, but you need a network interceptor to see it. This might explain things better:
https://github.com/square/okhttp/wiki/Interceptors

[2016-05-07 15:10] #2537 closed

[2016-05-07 15:15] swankjesse commented on #2521
I don’t like thread interrupting, and it isn’t even likely to work reasonably for other dispatchers. It’s a historical accident that QueueDispatcher can block. I don’t expect other dispatchers to have similar behavior.

[2016-05-07 22:25] swankjesse commented on #2530
I think the simplest might be LRU eviction. There’s a way to subclass LinkedHashMap that makes using it as a LRU pretty easy. I have to be honest that I don’t know too much about HPACK. If we already have a value in the static table, is there a benefit to including it in the dynamic table?

[2016-05-07 22:26] swankjesse commented on #2525
I think your workaround is pretty reasonable, and this requirement is pretty specific. I’m going to icebox this and see if other people run into the same problem.

[2016-05-07 22:27] swankjesse commented on #2524
I’m going to close this because there’s no obvious next step for us to take. If you can figure out what OkHttp is doing differently we can reopen this.

[2016-05-07 22:27] #2524 closed

[2016-05-07 22:45] #2535 closed

[2016-05-08 00:06] swankjesse commented on #2519
After substantial effort I couldn’t reproduce this.

[2016-05-08 00:06] #2519 closed

[2016-05-08 00:07] swankjesse commented on #2517
And I don’t think we’ll add ’em. There’s a lot of difficulty in doing that well.

[2016-05-08 00:07] #2517 closed

[2016-05-08 00:08] swankjesse commented on #2512
I’m unsure what action we should take here.

[2016-05-08 00:10] swankjesse commented on #2509
Interesting. Do web browsers ever provide headers beyond Content-Disposition? I don’t know if it makes sense to support arbitrary headers if that’s an unusual thing to do.

[2016-05-08 00:41] swankjesse commented on #2500
No action to take on this at this time.

[2016-05-08 00:41] #2500 closed

[2016-05-08 00:59] swankjesse commented on #2491
I couldn't reproduce this.

[2016-05-08 01:00] swankjesse commented on #2489
I’d like to leave this up to the application layer. Backoffs might need to be scheduled in another process if a server is redeployed or an app is relaunched. It’s really awkward to hide the response indefinitely.

[2016-05-08 01:00] #2489 closed

[2016-05-08 01:01] swankjesse commented on #2486
No obvious next action for us to take on this.

[2016-05-08 01:01] #2486 closed

[2016-05-08 01:07] swankjesse opened #2541 "Strange test flake in URLConnectionTest.testRequestBodySurvivesRetries"
Somehow the response parser is seeing a request status line. What’s up with that?

[code]

This happened on Travis on Java 7.
https://s3.amazonaws.com/archive.travis-ci.org/jobs/128577751/log.txt

[2016-05-08 13:59] #2505 closed

[2016-05-08 13:59] #2521 closed

[2016-05-08 14:02] swankjesse commented on #2527
No action for us to take here. Will re-open on a test case.

[2016-05-08 14:02] #2527 closed

[2016-05-08 15:12] swankjesse opened #2543 "Recover from REFUSED_STREAM in HTTP/2"
OkHttp promises to persevere when there’s trouble, but it doesn’t recover from `REFUSED_STREAM` in HTTP/2. We should transparently retry when an HTTP/2 server returns a `REFUSED_STREAM` error.

We should set `noNewStreams = true` on the connection that refused the stream. That is a good enough policy that’s in spirit of the HTTP/2 spec: it’ll prevent the connection from being used for any future s

[2016-05-08 15:15] swankjesse commented on #2506
I’ve opened a new issue #2543, for OkHttp’s mitigation of this problem. We’ll make OkHttp handle all refused streams, and we’ll workaround this problem at the same time.

[2016-05-08 15:15] #2506 closed

[2016-05-08 15:26] swankjesse commented on #2464
Our expectation is that your Authenticator will check `Response.priorResponse()`, but we could do a lot to make this more obvious.

[2016-05-08 15:33] swankjesse commented on #2425
If you’re willing to switch to OkHttp 3, there’s a new method coming in 3.3 that lets you control this directly:
`OkHttpClient.Builder.sslSocketFactory(SSLSocketFactory, X509TrustManager)`

Otherwise we need to investigate _why_ the trust manager isn’t being found in your app. My suspicion is that it’s a 3rd party SDK. You can probably find this with this:
[code]

[2016-05-08 15:38] swankjesse commented on #2204
I think this is obsoleted by our new stream allocations model.

[2016-05-08 15:38] #2204 closed

[2016-05-08 15:41] swankjesse commented on #2122
@jianghaolu looks like a legit timeout in your case.
@MarkusMattinen fixed in the new Okio, which is required by forthcoming OkHttp 3.3.

[2016-05-08 15:41] #2122 closed

[2016-05-08 15:42] swankjesse commented on #2119
Fixed in OkHttp 3.3, coming soon.

[2016-05-08 15:42] #2119 closed

[2016-05-08 15:45] swankjesse commented on #1975
@nfuller what would a fix for this look like?

[2016-05-08 15:50] swankjesse commented on #1511
Fixed by this:
https://github.com/square/okhttp/pull/2388

[2016-05-08 15:50] #1511 closed

[2016-05-08 16:43] caplan commented on #2521
Thanks!

[2016-05-08 23:25] Groxx opened #2545 "Allow resizing request cache"
Resizing the disk cache currently seems to require one of:
- ending all requests and blocking new ones, then when the queue is empty, dropping the old OkHttp instance and starting a new one with the new desired disk cache size
- kill the app, reload with new configuration
  and then either waiting for a request to come in, or calling `flush()`.

This is rather complex or a poor user experience.  T

[2016-05-08 23:34] Groxx commented on #2545
Actually, now that I read through a few layers again... is the `urls()` iterator in least-recently-used order?  If so, iterating over that and deleting entries until size < desired would work for a size-reducing operation.

Having a `setMaxSize()` method would still be useful though, as it would allow increasing the size, and simplify this process.  It would also be more resilient against changes

[2016-05-09 04:03] #2035 closed

[2016-05-09 04:51] swankjesse commented on #2545
Just curious – why are you resizing the response cache? Are you aware of evictAll() ?
https://square.github.io/okhttp/3.x/okhttp/okhttp3/Cache.html#evictAll--

[2016-05-09 05:14] zyfmix commented on #2543
can you tell me how to set noNewStreams = true in my code  below:
`
public class CoamAuthInterceptor implements Interceptor {
    @Override
    public Response intercept(Chain chain) throws IOException {

        Request originalRequest = chain.request();

        Response originalResponse = chain.proceed(originalRequest);

        Timber.i("HttpURLConnection:=>=>=>Start + HttpURLConnection.HTTP_S

[2016-05-09 08:24] jkoorts opened #2546 "Letting okhttp unzip the response without gzip header"
Our web server sends a gzip payload back without setting the appropriate headers. This causes okhttp not to unzip the payload.

Would be great to tell okhttp: "unzip no matter what you think".

[2016-05-09 12:03] swankjesse commented on #2546
You can do this yourself with an interceptor. See the interceptors doc on the wiki for inspiration. Also, you really should fix your broken webserver.

[2016-05-09 12:03] #2546 closed

[2016-05-10 00:44] RyanSpeaking commented on #2204
@swankjesse , could you be more specific what the commit id or link that the new stream allocation model lies in ?

[2016-05-10 03:59] swankjesse commented on #2204
It’s here: https://github.com/square/okhttp/commits/okhttp_27/okhttp/src/main/java/com/squareup/okhttp/internal/http/StreamAllocation.java

[2016-05-10 10:32] bingxuebage commented on #2487
I met the stack trace in Strict Mode too，please help to see the code, Should I need to move  "response.body().close(); " in finally{ }?  I test this way may be effective。
`
  public void onResponse(@NonNull Call call, @NonNull Response response) throws IOException {
        try {
            SystemUtils.checkContextValid(mCtx);
            if (response.isSuccessful()) {
                onResponseS

[2016-05-10 11:48] swankjesse commented on #2487
That works. A finally clause is even better.

[2016-05-11 02:14] swankjesse commented on #2543
After getting a response from the http-wg list, our recovery policy can be simpler: attempt one retry on the same connection, and then permanently fail the request.

[2016-05-11 02:15] swankjesse commented on #2543
(And do that one retry on a different connection if the current connection is shutting down.)

[2016-05-11 02:28] swankjesse commented on #1998
Yeah, we definitely shouldn’t be throwing an unchecked exception here.

One problem is that the spec wants us to not interpret header fields, but since we’re exposing a Java API we really want strings.

   Historically, HTTP has allowed field content with text in the
   ISO-8859-1 charset [ISO-8859-1], supporting other charsets only
   through use of [RFC2047] encoding.  In practice, most HTTP hea

[2016-05-11 02:29] ownwell opened #2548 "encodedQuery is not what I expect."
I  find a bug in HttpUrl.

I have a String :
https://api.leancloud.cn/1.1/classes/Article?order=-articleId&where={"articleId":{"$lt":"2"}}

but use retrofit 2,the url will be encoded to
https://api.leancloud.cn/1.1/classes/Article?order=-articleId&where={%27articleId%27:{%27$lt%27:%272%27}}

I can the source code and find it may be a bug.

[code]
the QueryParamete must be encoded,like the `QUERY_C

[2016-05-11 02:35] swankjesse commented on #2548
OkHttp
[code]

Firefox:
[code]

We’re consistent with web browsers!

[2016-05-11 02:37] swankjesse commented on #2548
(no action to take on this.)

[2016-05-11 02:37] #2548 closed

[2016-05-11 02:41] ownwell commented on #2548
the url below is what I **# expect**
https://api.leancloud.cn/1.1/classes/Article?order=-articleId&where={"articleId":{"$lt":"2"}}

[2016-05-11 04:50] karthikrg opened #2549 "okhttp Cookie strips off leading . from domain"
`  private static String parseDomain(String s) {
    if (s.endsWith(".")) {
      throw new IllegalArgumentException();
    }
    if (s.startsWith(".")) {
      s = s.substring(1);
    }
    String canonicalDomain = domainToAscii(s);
    if (canonicalDomain == null) {
      throw new IllegalArgumentException();
    }
    return canonicalDomain;
  }`

Cookie seems to strip off the leading . from th

[2016-05-11 06:35] bingxuebage commented on #2487
@swankjesse  sorry, still exist though move "response.body().close(); " in finally{ }，seem stack trace to @Wavesonics
[code]

[2016-05-11 07:18] Wavesonics commented on #2487
Yeah I've checked and checked and all of my response body's are closed on a finally.

Also interesting is it's only cached responses.

[2016-05-11 08:09] Larnoo commented on #2511
How to cancel a request?

[2016-05-11 08:13] Larnoo opened #2550 "At Okhttp2.0,we can okhttpclient.cancel(tag). But at Okhttp3.0,How to cancel a request？"
At Okhttp2.0,we can okhttpclient.cancel(tag). But at Okhttp3.0,How to cancel a request？

[2016-05-11 11:22] swankjesse commented on #2550
Dupe of https://github.com/square/okhttp/issues/2205

[2016-05-11 11:22] #2550 closed

[2016-05-11 11:39] swankjesse commented on #2549
Yup, this is a problem when converting to a format that works with CookieManager. (It isn't a problem with our cookie class itself.)

[2016-05-11 13:00] dave-r12 commented on #2543
@swankjesse if you didn't already discover this, one other thing I noted when running experiments with nginx is that even if the timing works out, it's possible OkHttp will never send the request. I traced it to this line, https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/framed/FramedConnection.java#L278

I think the headers will need to be flushed prior to writin

[2016-05-11 15:59] mahdihijazi commented on #2425
After we traced the issue, we found the reason that we are using **SSLSessionCache** wich depends on the **SSLCertificateSocketFactory** which makes Android.trustManager inside the Platform class to failed getting the **SSLParametersImpl** because this one doesn't have the **sslParameters** field at all.

So basically the reflecting code failed way before trying to get the trust manager.

[2016-05-11 18:23] martinvol opened #2551 "java.io.IOException: stream was reset: REFUSED_STREAM on okhttp 3.2.0 on POST request"
Doing the POST [request example](https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/okhttp3/recipes/PostForm.java)

I got

`05-11 20:11:40.678 13113-13165/com.example.martin.e_fluent W/System.err: java.io.IOException: stream was reset: REFUSED_STREAM
05-11 20:11:40.679 13113-13165/com.example.martin.e_fluent W/System.err:     at okhttp3.internal.framed.FramedStream.checkOutNo

[2016-05-11 18:25] swankjesse commented on #2425
@mahdihijazi thanks for your thorough investigation! In OkHttp 3.3 we’re adding a new API that lets you specify the SSLSocketFactory and X509TrustManager separately. Will this work? Or can we teach our Platform class to detect the SSLSessionCache case?

[2016-05-11 22:29] swankjesse commented on #2551
Will fix with https://github.com/square/okhttp/issues/2543

[2016-05-11 22:29] #2551 closed

[2016-05-12 00:15] mostleg commented on #2530
I think because of the protocol, LRU is not easier than FIFO. We could maintain a LinkedHashMap for the  headers in the dynamic table in the writer, but how could we notice the reader when we change the index of entries as LRU mechanism? I don't find an easy method. If I'm wrong please correct me.

For the headers which is in the static table, I didn't describe the question clearly last time. In t

[2016-05-12 07:27] emanzanoaxa commented on #2120
Someone knows wich IP shoud be set on genymotion to run with mockWebServer?

[2016-05-12 07:43] mahdihijazi commented on #2425
@swankjesse a quick look in **SSLCertificateSocketFactory** give me the impression that we can use **getDelegate()** that returns the **SSLSocketFactrory**, and from there we can continue looking for the trust manager the same way we have now.

Looks like SSLCertificateSocketFactory compose the expected SSLSocketFactrory.

Unfortunately upgrading to okhttp 3 is not an option short-term.

[2016-05-12 09:52] abos3d opened #2553 "[Bug] random socket timeout exception and SSL handshake timeout with no reason"
- [ ] Bug report.

I"m using okhttp 3 + retrofit 2 + rxjava + rxandroid

when I try to send to many requests "I mean 10 or 12 request in parallel every request in its own Observable"

I get randomly socket timeout Exception but the request actually didn't reach to my server

and some time I get SSL handshake timeout

here is my ServiceFactory function:

[code]

[2016-05-12 10:37] swankjesse commented on #2553
Please provide a failing JUnit test case. There's nothing actionable here.

[2016-05-12 10:37] #2553 closed

[2016-05-12 15:23] kelmer44 commented on #2158
If I use `body().byteStream() `do I need to close the connection explicitly as well?

[2016-05-12 16:08] yschimke opened #2554 "[feature request] persistent storage similar to Cache"
Is there a planned story for persistent storage e.g. Cookies, ~HTTP Public Key Pinning~ or HTTP Strict Transport Security?

These can easily be done externally, but as okhttp is higher level than a toolkit like netty, they seem in scope.  I find it easy to imagine OkHttp as a UserAgent, which probably directs my assumptions.

[2016-05-12 16:35] dave-r12 commented on #2158
Yes, per the javadoc, you'll need to close the body. Only bytes() and string() close it automatically. See https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/ResponseBody.java#L37

[2016-05-12 18:56] swankjesse commented on #2554
Yeah, definitely. I spent quite a while contemplating what this would look like for OkHttp 3. My ideal was to take a directory in your OkHttpClient.Builder and we’d make the rest Just Work.

Unfortunately upon further investigation I decided this was too simple. In particular it means we either need to either forbid multiple processes from sharing a directory (as Cache insists) or coordinating tha

[2016-05-13 00:15] swankjesse commented on #2409
I figured out a way to reproduce this. We want to release the stream by doing this:

[code]

But if a network interceptor is involved, it’s possible that closing that doesn’t accomplish what we want. For example, consider this:

[code]

@tguerin, @hamberluo are you using any network interceptors?

[2016-05-13 02:33] Groxx commented on #2545
The app I work on is essentially an image browser.  It's not uncommon to end up downloading hundreds or thousands of megabytes of images in a single session.  And as much as possible, I'd like to keep them available offline - everything works offline.

That's a lot of data to store.  I'm doing what I can, but if the user suddenly gets a low-disk-space notification, I'd prefer to let them limit my

[2016-05-13 02:57] swankjesse commented on #2545
Yep, your use case makes sense. It's not something I'm convinced is a common use case, but it makes sense. If you want you can probably hack this in immediately with a little reflection!

[2016-05-13 08:53] jjhesk opened #2556 "retrofit 1.9 update request."
are there any updates for retrofit 1.9.0? the gson has new updates and its now 2.6.2.
Are there any chances that 1.9 can be updated. [see this](http://mvnrepository.com/artifact/com.squareup.retrofit/retrofit/1.9.0). we have large amount of  the http request that is still based on 1.9.0 in production. Many thanks.

[2016-05-13 08:57] #2556 closed

[2016-05-13 10:09] xesam opened #2557 "[feature request]Async MockWebServer"
I want to use MockWebServer in my app to mock http response, not just in TestCase,but an NetworkOnMainThreadException occur if i run MockWebServer#start() from UI Thread. so, will MockWebServer support asnyc mode ?

[2016-05-13 13:56] hamberluo commented on #2409
@swankjesse i use the stetho in debug build instead of release, yet it also crash in release.

[2016-05-13 16:11] Groxx commented on #2545
Not sure I agree on that, but I am a bit of an edge-case, so I understand why it hasn't been important to people in the past :)   I'm happy to reflect to get this done tho - thanks for the suggestion!  I suspect it'll work fine.

That all said: any chance of converting the cache to an interface, and allowing us to provide a different implementation?  Obviously making a _good_ cache is non-trivial,

[2016-05-13 18:29] mufumbo commented on #1933
oh man, this is painful. very slow connections using okhttp and https on cloudflare, since it has to re negotiate the handshake everytime. I'm getting 500ms latency for every request, opposed to 100ms with http or spdy

[2016-05-13 18:37] swankjesse commented on #1933
@mufumbo that's unexpected. It should reuse the connection. If it isn't, please provide a test case in a new issue report!

[2016-05-13 19:35] swankjesse commented on #2545
If you’re looking for a lot more control, also take a look here:
https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/io/FileSystem.java

This isn’t currently public API, and probably won’t ever be, but you might be able to use it to accomplish what you need.

[2016-05-13 19:58] swankjesse commented on #2557
You can start it on another thread that you create.

[2016-05-13 22:14] #2409 closed

[2016-05-14 18:20] tuhin10 opened #2560 "Multipart POST request getting submitted twice on slow network connection"
Multipart POST request getting submitted twice on slow network connections. I have already set the retryOnConnectionFailure to false still in some cases the POST request is getting submitted twice.

[code]

[code]

[code]

[2016-05-14 21:53] swankjesse commented on #2560
Please provide us with an executable test case?

[2016-05-15 01:48] swankjesse commented on #2491
After talking with @artem-zinnatullin and doing some investigation I’ve found the root cause. When you have an ECC certificate with a named curve, different versions of Android encode that curve differently.

Android 4.x / BouncyCastle encodes the curve by value.
Android 6.x / OpenSSL encodes the curve by name.

[2016-05-15 01:49] swankjesse commented on #2491
One reasonable workaround is to pin both encodings. That’s annoying, but it should work.

[2016-05-15 02:54] swankjesse commented on #2491
https://mailarchive.ietf.org/arch/msg/websec/FNxx6cCUSuFPzIeMFfaXH9tg46E

[2016-05-15 13:17] artem-zinnatullin commented on #2491
Well, it's possible, but I was really afraid that on next versions of Android pin may be different again.

So I decided to read certificate at runtime and compute pin from it so it'll be in the same format as JDK expects.

[2016-05-15 19:55] rfc2822 commented on #2543
Is this an okhttp or an nginx problem? People are starting to become nervous because clients which use okhttp (like DAVdroid) don't work with their (up-to-date) nginx servers anymore… how do you recommend to handle this? Disable HTTP2 in okhttp?

[2016-05-15 20:36] swankjesse commented on #2543
Disabling HTTP/2 in OkHttp will work. It's sad, but it'll work. Both OkHttp and Nginx are going to make coffee changes for this issue.

[2016-05-15 21:39] swankjesse commented on #2491
Turns out that this is an implementation bug in old versions of Android. [According to Brian Smith](https://mailarchive.ietf.org/arch/msg/websec/ynPkB41qNEtjPwwtfyXf2GahmzQ):

Seems like we may be able to work around this somehow.

[2016-05-15 21:50] swankjesse commented on #2491
Upon further investigation, I believe this only happens if the cert itself is invalid. No action for us to take here.

[2016-05-15 21:50] #2491 closed

[2016-05-16 08:17] HLFH commented on #2543
@rfc2822 I love HTTP/2. I temporarily switched to dmfs.org.

[2016-05-16 16:44] cfieber commented on #2147
We were running into this issue using OkHttp via Retrofit for inter-microservice RPC.

The fix (which seemed surprising given the description of ConnectionPool's behaviour) was to explicitly give each OkHttpClient a new ConnectionPool (previously it was unspecified and falling through to the `ConnectionPool.systemDefault`, now we give each OkHttpClient a new ConnectionPool(5, 300000)) and our prob

[2016-05-17 08:25] kelmer44 commented on #2158
Just tried it but it seems if I close the stream after calling byteStream() I will then get an exception on processing the stream since it has already been closed.

[2016-05-17 18:35] jpstotz commented on #2323
I have read the discussion on this issue, however I am totally confused by all the discussion on 3rd party libraries that just use OkHttp. My major problem is that I neither do see a clear description why this error is occurring nor how to fix it (or better how to get around it).

I am using plain OkHttp 3.2.0 and Android with my custom SSLSocketFactor and TrustManager implementation.

[2016-05-17 19:47] brahalla commented on #2323
I'm personally getting this error with Retrofit2 v2.0.2:

[code]

[2016-05-17 19:51] andrei-ivanov commented on #2323
Using OkHttp 3.3.0-SNAPSHOT fixed the issue for me.

[2016-05-17 20:31] adanecito opened #2561 "Interceptor not getting called"
When using okhttp 3.2 and using interceptors they are not getting called.
Here is the code.
 Interceptor REWRITE_CACHE_CONTROL_INTERCEPTOR = new Interceptor() {
    @Override
    public Response intercept(Chain chain) throws IOException {
        Response originalResponse = chain.proceed(chain.request());
        if (isNetworkAvailable(getApplicationContext())) {
            int maxAge = 60; // re

[2016-05-17 20:49] adanecito commented on #2561
More info. I noticed if my wifi is enabled (I do not have cell connection on my test android device) both the network and application interceptors get called. I would expect the application interceptor to get called if the network is enabled or not.
All I am trying to do is use the cached response if the network/cell connection not available.

Thanks!

[2016-05-17 21:25] swankjesse commented on #2561
Are you completely certain the interceptor isn’t being called? Could you create an executable test case to demonstrate the problem?

[2016-05-17 21:55] adanecito commented on #2561
I updated the issue.It is getting called when the network connection is enabled. But neither interceptor is called when network is disabled. My expectation is the application interceptor should be called then.
Thanks,-Tony

    On Tuesday, May 17, 2016 3:27 PM, Jesse Wilson <notifications@github.com> wrote:

 Are you completely certain the interceptor isn’t being called? Could you create an execut

[2016-05-17 22:55] swankjesse commented on #2561
Can you write an executable test case to demonstrate the problem? OkHttp doesn’t know the network is disabled until it attempts to use it, so it’s surprising that a disabled network could prevent application interceptors from working.

[2016-05-17 23:52] adanecito commented on #2561
Ok I figured out is going wrong. The interceptor is expecting a response but since there is no network chain.proceed(chain.request()) throws an exception about not being able to resolve the url so my println never gets called and it appears as if the interceptor was never called.
So now knowing that I need to figure out how to resolve it. I have to have a way to set a response so the cache gets ca

[2016-05-18 02:27] swankjesse commented on #2561
We don't have examples of using interceptors to toggle caching. It should be straightforward, but only works for cached responses.

[2016-05-18 02:27] #2561 closed

[2016-05-18 03:33] adanecito commented on #2561
Thanks for the help.The reason I am trying to toggle caching to work because others were doing the same thing. Are you saying that I should not have to do that?? That would be great. What I did was setup a cache and if that is all I need to do it is not working for me or others who chose to try to toggle it.I do not want to log the cache issue if I have an solid example that show it working. And I

[2016-05-18 03:58] swankjesse commented on #2561
I don't know of any examples of using interceptors to toggle caching. But please look around and see what's already built.

[2016-05-18 04:13] adanecito commented on #2561
Thanks. What I discovered is that okhttp is not writing to the cache directory. I re-pointed the directory to DCIM and I see a journal file and it has some odd text in it lobcore.io.DiskLruCache12011052. So no wonder I am not getting anything when I shut off network access I get no saved responses. I did call the response.body.close().
-Tony

    On Tuesday, May 17, 2016 9:59 PM, Jesse Wilson <not

[2016-05-18 04:22] wozaifeiyang0 commented on #1340
I have the same problem，“com.squareup.okhttp” no problem,replace "com.squareup.okhttp3" have the same problem

[2016-05-18 04:59] adanecito opened #2562 "Responses not written to cache file..."
Bug-
The only data written to the journal file is:
libcore.io.DiskLruCache
1
201105
2

This after I read in my json object and then I called response.body().close(); My understanding is this should have made okhttp write to the journal file but it did not do that.

I am using 3.2.0 running on Android 5.0.1

I saw some issues perhaps related to this where an exception was being thrown and due to be

[2016-05-18 08:10] libill opened #2564 "libc: Fatal signal 11 (SIGSEGV) at 0x006d6100 (code=1), thread 19252 (OkHttp Dispatch)"
app crash, but the log only :

libc: Fatal signal 11 (SIGSEGV) at 0x006d6100 (code=1), thread 19252 (OkHttp Dispatch)

[2016-05-18 08:36] PieterAelse commented on #2323
Was fixed here by using Crittercism v5.6.3

[2016-05-18 11:06] ssagittarius commented on #2323
When Crittercism v5.6.3 will be integrated in cordova-plugin-apteligent ?
Right now it's using release 5.5.2 and I still have the issue in my hybrid app.

[2016-05-18 11:54] dave-r12 commented on #2564
@libill can you provide any other information?

[2016-05-18 11:56] swankjesse commented on #2564
Nothing we can fix with this. It's possible the change isn't related to OkHttp; that's the thread that calls you back.

[2016-05-18 11:56] #2564 closed

[2016-05-18 11:57] swankjesse commented on #2562
This tracker is for bug reports with test cases and feature requests only. Please use Stack Overflow for usage questions.

[2016-05-18 11:57] #2562 closed

[2016-05-18 18:26] adanecito commented on #2562
I figured out why and not sure anyone on Stack Overflow could answer so leaving it here for future generations. You only store "GET" request responses. I am using "POST". I found that by looking at the Cache class code in gethub. Also, unless you embed via interceptor using both an interceptor and networkInteceptor when you build the okhttpclient to add the proper headers such as "Cache Control" a

[2016-05-19 06:19] dudhatparesh commented on #2060
Guys I am having same issue.
Here are my exception logs.

java.net.SocketTimeoutException: timeout
W/System.err:     at okio.Okio$3.newTimeoutException(Okio.java:207)
W/System.err:     at okio.AsyncTimeout.exit(AsyncTimeout.java:261)
W/System.err:     at okio.AsyncTimeout$1.write(AsyncTimeout.java:158)
W/System.err:     at okio.RealBufferedSink.emitCompleteSegments(RealBufferedSink.java:176)
W/Sys

[2016-05-19 08:22] KinaZhen opened #2565 "java.net.ProtocolException: Too many follow-up requests: 21"
- [ ] Bug report.
05-19 15:10:45.502 1029-1029/ W/System.err:     at okhttp3.RealCall.getResponse(RealCall.java:289)
okhttp3.RealCall$ApplicationInterceptorChain.proceed(RealCall.java:198)
com.zhy.http.okhttp.log.LoggerInterceptor.intercept(LoggerInterceptor.java:46)
okhttp3.RealCall$ApplicationInterceptorChain.proceed(RealCall.java:187)
okhttp3.RealCall.getResponseWithInterceptorChain(RealCall.ja

[2016-05-19 09:12] tguerin commented on #2409
@swankjesse The only network interceptor we have was used to workaround this issue

[2016-05-19 09:22] GitHubMurt commented on #1922
here you find the number of the lastest version
http://mvnrepository.com/artifact/com.squareup.okhttp/logging-interceptor

[2016-05-19 11:05] swankjesse commented on #2565
Is it redirecting? Are you attempting and failing to do authentication?

[2016-05-19 11:16] KinaZhen commented on #2565
i'm not add cookies,but i get the Cookie: frontend=tci7q4vmui3j47o20g7djp8sq7; frontend=deleted. why?

[2016-05-19 13:10] KinaZhen commented on #2565
thank you,i have solved this problem.

[2016-05-19 18:36] #2565 closed

[2016-05-20 02:17] adanecito opened #2566 "Enhancement request for the Cache class."
What kind of issue is this?

 - [ ] Feature Request.

Please make public the get method in the Cache class so developers can retrieve the Response for a request.

Thanks.

[2016-05-20 12:08] swankjesse commented on #2566
Right now you can do this with OkHttpClient. Exposing direct access to the cache makes certain other changes difficult. What's your use case?

[2016-05-20 13:30] adanecito commented on #2566
When the network is disconnected. When I try to read the response body it is null for when requests are sent and the comment in the java docs that the message body can not be read. I can see the headers but I need the message body. There were comments about this on stackoverflow and my research showed people were getting it from the cache object before okhttp 3.x. I looked at the OkHttpClient sour

[2016-05-20 14:29] sequarius opened #2567 "[feature request] How about add asynchronous callback on the thread you equeue the request"
in fact,some android operation has call thread  requirements,how about add the asynchronous callback on the enqueue method called

[2016-05-20 14:52] swankjesse commented on #2567
If you want to use the thread that enqueued the request you can just use a synchronous call. If you’d like to move it to another thread, you can do that by writing a straightforward Callback.

[2016-05-20 14:52] #2567 closed

[2016-05-21 00:14] hamberluo commented on #2409
@swankjesse i also use okhttp ws lib.

[2016-05-21 03:05] realpg opened #2568 "sample code doesn't work"
File:

Line 55:
`.sslSocketFactory(sslSocketFactory, trustManager)`

It seems okhttp has already changed the api.

[2016-05-21 04:12] hamberluo opened #2570 "When will next version 3.3.0 release?"
#2409 and #2455 impacts lots of users.

[2016-05-21 04:16] JakeWharton commented on #2570
In the coming weeks. You can use the 3.3.0-SNAPSHOT as a dependency or a local jar for now. We don't give concrete dates for any releases.

[2016-05-21 04:16] #2570 closed

[2016-05-21 13:50] dave-r12 commented on #2543
A quick update: nginx attached a proposed patch on their issue tracker. I tested patch against OkHttp and it worked perfectly.

[2016-05-21 13:52] dave-r12 commented on #2506
For anyone interested, I posted this on the other issue:

[2016-05-21 13:56] swankjesse commented on #2506
@dave-r12 that’s great news.

[2016-05-21 15:05] swankjesse commented on #2541
I couldn’t reproduce this.

[2016-05-21 15:06] swankjesse commented on #2541
I couldn’t reproduce this.

[2016-05-21 15:06] #2541 closed

[2016-05-21 15:11] #2568 closed

[2016-05-21 15:11] swankjesse commented on #2566
You can make a regular request using `CacheControl.FORCE_CACHE` as a header.

[2016-05-21 15:11] #2566 closed

[2016-05-21 15:12] swankjesse commented on #2566
(that’ll return HTTP 504 if the cached response cannot be served.)

[2016-05-21 15:13] #2557 closed

[2016-05-21 18:53] adanecito commented on #2566
Thanks, I will take a look at this.
Best Regards,
-Tony

    On Saturday, May 21, 2016 9:12 AM, Jesse Wilson <notifications@github.com> wrote:

 You can make a regular request using CacheControl.FORCE_CACHE as a header.—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-05-21 22:48] swankjesse commented on #2217
https://github.com/square/okhttp/pull/2572

[2016-05-22 00:58] yschimke opened #2573 "call.enqueue in rapid succession creates multiple HTTP/2 connections"
I can investigate this myself (next week?), but just in case it is expected or someone else knows the quick fix, I thought I'd create a test case and raise first.

[code]

[code]

Uncommenting the synchronous call makes this work as expected.

[2016-05-22 01:41] swankjesse commented on #2573
Sadly this is an old bug.
https://github.com/square/okhttp/issues/373

One thing that makes fixing it difficult is that we’ll need to serialize the construction of TLS connections.

[2016-05-22 01:41] #2573 closed

[2016-05-22 02:06] yschimke commented on #2573
Thanks for pointing that out.  I can imagine it has actual impact for mobile apps that do a bunch of requests at startup.  But yeah, seems a thorny issue.

[2016-05-22 04:15] yschimke commented on #373
I wonder whether client protocol (h2 vs http1) could be specific per domain as well as a default per client.  This could allow high volume apps to configure h2 only for their api and then the blocking could be done predictably.  I don't think any of the major sites are going to turn off h2 now.

I think we saw this in production and were scratching our heads why we had more connections than we pre

[2016-05-22 05:51] terro commented on #2543
@dave-r12 Would you please give a link of the changeset? I cannot find it in trac.nginx.org. Thanks!

[2016-05-22 06:21] raoulbhatia commented on #2543
@terro https://trac.nginx.org/nginx/ticket/959#comment:14

[2016-05-22 09:08] rfc2822 commented on #2543
So, should the problem go away with nginx 1.10.1 or will we still need to upgrade okhttp to get it working?

[2016-05-22 12:58] dave-r12 commented on #2543
@rfc2822 it seems nginx will provide a configuration option for the preread buffer. From the commit message:

as previously, all streams with data will be rejected until the new window
is acknowledged.  Otherwise, no special processing is used and all requests
with data are welcome right from the connection start.

If you change it to lower than default initial window, you'll need to upgrade to 3.

[2016-05-22 14:58] dave-r12 commented on #2543
Also, OkHttp 3.3 will be compatible with nginx 1.9.15, if you must use that version.

[2016-05-22 17:51] yschimke opened #2575 "client.close() would be useful like request.close()"
This program hangs, specifically on HTTP/2 connections unless you uncomment the lines.  I think the second line is the one specific to HTTP/2.

[code]

Non-daemon threads

[code]

I suggest updating the guides, but client.close() seems to make a lot of sense.

[code]

[2016-05-23 04:06] swankjesse commented on #2575
Unfortunately both dispatchers and connection pools can be shared by independent HTTP clients. Which makes this potently awkward.

[2016-05-23 04:54] yschimke commented on #2575
True, it still leaves this as essentially undocumented.

There are examples (non tests) of connectionpool.evictAll which is required for http/2 connections in

[code]

and dispatcher.shutdown which is required for call.enqueue.

[code]

Options I can think of

1) update docs to reference when you will need these
2) add close as well as logging in other still live clients affected, e.g. check execu

[2016-05-23 08:25] gesellix opened #2576 "Support for arbitrary url schemes?"
I'm trying to use OkHttp to connect to the Docker remote api. Since they support several ways of connecting to their daemon, including unix sockets, they use several url schemes. They still use HTTP, though, but connect via TCP, Unix Domain Sockets or even Names Pipes.

When trying to use a url like `unix:///var/run/docker.sock`, OkHttp refuses to use that url, because it enforces us to use either

[2016-05-23 08:31] gesellix commented on #2576
P.S.: I'm talking about this one: https://github.com/square/okhttp/blob/ed943ce136f385d672868d5039f9aba6b00962f2/okhttp/src/main/java/okhttp3/Request.java#L151

[2016-05-23 10:15] zewenwang commented on #1998
Use URLEncoder encode  headers before addHeader, it works well for me.

[2016-05-23 11:14] swankjesse commented on #2576
Unfortunately the URL standard gets pretty awkward if you need to support schemes like mailto: and isbn: and file:. Not supporting the other schemes means the API can be simpler for HTTP.

There's a simple workaround. Just manually do string replacement to force it to be a HTTP URL.

One problem you might face with using HTTP over UNIX sockets is that the socket factory isn't provided the file pat

[2016-05-23 11:18] swankjesse commented on #2575
Adding documentation is a simple, flexible solution.

[2016-05-23 17:12] gesellix commented on #2576
@swankjesse thanks for the quick reply.

I don't fully understand your proposed workaround. Do you mean I should use something like the following: `http://unix/var/run/docker.sock`? I would then have to handle the special url in my SocketFactory, right? I already do [similar hacks](https://github.com/gesellix/docker-client/blob/master/src/main/groovy/de/gesellix/docker/client/protocolhandler/Docke

[2016-05-23 22:47] cowwoc opened #2577 "Document all public HttpUrl methods"
What kind of issue is this?

`HttpUrl` contains undocumented public methods (e.g. `queryParameterValue(int)`). While the meaning of these methods might seem obvious to you, it would be helpful for end-users if you could document all the nuances of each method. For example, what is the expected behavior of `queryParameterValue(int)` if a parameter has multiple values? I assume that `queryParameterN

[2016-05-24 04:30] linxhome commented on #2108
ava.lang.AssertionError: libcore.io.ErrnoException: getsockname failed: EBADF (Bad file number)
	at libcore.io.IoBridge.getSocketLocalAddress(IoBridge.java:670)
	at libcore.io.IoBridge.recvfrom(IoBridge.java:569)
	at java.net.PlainSocketImpl.read(PlainSocketImpl.java:488)
	at java.net.PlainSocketImpl.access$000(PlainSocketImpl.java:46)
	at java.net.PlainSocketImpl$PlainSocketInputStream.read(Plain

[2016-05-24 04:37] andymutton commented on #1998
@zewenwang that only works when you're in control of the headers. If you're sending requests to some site that you don't control and receiving troublesome response headers, it's a much less effective strategy.

[2016-05-24 06:09] mfaust35 commented on #2230
I do get warnings using OkHttp3 & ProGuard :
(with gradle : compile 'com.squareup.okhttp3:okhttp:3.2.0' & compile 'com.squareup.okhttp3:okhttp-urlconnection:3.2.0')
[code]
Which is "kind of normal" since in package [okhttp3/internal/huc](https://github.com/square/okhttp/tree/okhttp_32/okhttp-urlconnection/src/main/java/okhttp3/internal/huc) on branch `okhttp_32`, the class HttpsURLConnectionImpl.j

[2016-05-24 10:55] swankjesse commented on #2108
@linxhome upgrading to Okio 1.8.0 or newer should fix this.

[2016-05-24 11:18] Revenge94 opened #2578 "Okhttp version : 2.0.0 ----> java.lang.RuntimeException: java.io.IOException at com.squareup.okhttp.internal.DiskLruCache"
[code]

[2016-05-24 12:19] swankjesse commented on #2578
Please only report issues against the current version.

[2016-05-24 12:19] #2578 closed

[2016-05-24 12:46] moisesvs commented on #2147
I have the same error. Could you share the fix?. Please.

Thank a lot.

[2016-05-25 01:40] #2543 closed

[2016-05-25 14:02] shekhargulati commented on #2576
@swankjesse @gesellix I am also trying to do the same thing for my [rx-docker-client](https://github.com/shekhargulati/rx-docker-client). I have to support unix socket using okhttp but unable to figure out how to make it work. I created by custom socket factory using the `jnr-unixsocket` and set that in the `OkHttpClient`. But, when I execute code it does not use the custom factory and fails.

[2016-05-25 14:39] swankjesse commented on #2576
@shekhargulati I’m unsure. Can you provide a test case?

[2016-05-25 15:59] GhostInMatrix commented on #2550
Well，when using okHttp3, you can set tag in request,like:Request request = new Request.Builder()
                .url(url)
                .tag("sss").build();
so,when you wanna cancel the request with tag "sss",you can do like this:

 for(Call call : mOkHttpClient.dispatcher().queuedCalls()) {
            if(call.request().tag().equals("sss"))
                call.cancel();
        }
        for(

[2016-05-25 18:41] rfc2822 opened #2579 "LoggingInterceptor doesn't log iCalendar files, WebDAV XML response bodies etc. because they are considered binary"
Since okhttp 3.3, `HttpLoggingInterceptor` makes a difference between plain-text and binary bodies and doesn't log binary bodies.

However, I want `HttpLoggingInterceptor` to always log the bodies. Requested iCalendar (plain text) files, WebDAV XML response bodies etc. are considered to be binary be the interceptor and thus dismissed for logging. Extending `HttpLoggingInterceptor` and overwriting

[2016-05-25 18:43] JakeWharton commented on #2579
You can copy/paste it into your project and modify to your needs. The provided interceptor isn't designed to solve everyone's use-case, more just the common ones.

[2016-05-25 19:10] swankjesse commented on #2579
I’m surprised that these files are considered to be binary. Could you paste a gist with a sample file?

[2016-05-26 04:56] eygraber commented on #2533
Here's the message for the target `Exception` of the `InvocationTargetException` that gets thrown when calling [the offending `Method.invoke`](https://github.com/square/okhttp/commit/e3cd9b9f1c9787c36d5ea82190bf1e2365377e66#diff-5803d99d45dfa6a23e51dd60d44f2de9R314)

[2016-05-26 05:06] JakeWharton commented on #2533
Sounds like you're not using Robolectric since that message comes from the
mockable jar.

On Thu, May 26, 2016 at 12:56 AM Eliezer Graber <notifications@github.com>
wrote:

[2016-05-26 05:09] eygraber commented on #2533
I'm definitely using Robolectric (verified on the call stack), which is why I was confused. Could it be a classloader issue where `Class.forname` is using the platform class?

[2016-05-26 05:11] JakeWharton commented on #2533
Maybe, but that would be a robolectric bug in its ParallelUniverse then. If
Class.forName didn't work then things like LayoutInflater wouldn't work
either.

On Thu, May 26, 2016 at 1:09 AM Eliezer Graber <notifications@github.com>
wrote:

[2016-05-26 05:21] eygraber commented on #2533
Could it be happening because I'm on Robolectric 2.4 (which I believe only supports up to API 18), and `NetworkSecurityPolicy` wasn't added until API 23?

[2016-05-26 05:22] JakeWharton commented on #2533
Possibly. Try the latest.

On Thu, May 26, 2016 at 1:21 AM Eliezer Graber <notifications@github.com>
wrote:

[2016-05-26 05:34] eygraber commented on #2533
We're pretty stuck on 2.4, so I used the [project referenced above](https://github.com/square/okhttp/issues/2533#issuecomment-216811119) and change the robolectric properties to use API 23. I was greeted by this when running the test:

[2016-05-26 05:37] JakeWharton commented on #2533
Seems like a clear deficiency on their side then. Not sure what action
there would be for us to take.

On Thu, May 26, 2016 at 1:34 AM Eliezer Graber <notifications@github.com>
wrote:

[2016-05-26 06:11] eygraber commented on #2533
Would wrapping it in a version check help?

[2016-05-26 06:12] JakeWharton commented on #2533
It's already behind one. You're compiling with API 23 (or newer) and thus
OkHttp attempts to use APIs from that version.

On Thu, May 26, 2016 at 2:11 AM Eliezer Graber <notifications@github.com>
wrote:

[2016-05-26 06:37] eygraber commented on #2533
Would that affect a runtime check? Something like:

[code]

When I try that running in Robolectric it returns 21.

[2016-05-26 09:13] tomatozheng opened #2580 "java.lang.ExceptionInInitializerError bug"
Bug report:
java.lang.ExceptionInInitializerError
	at okhttp3.OkHttpClient.<clinit>(OkHttpClient.java:64)
Caused by: java.lang.NullPointerException
	at okhttp3.ConnectionSpec$Builder.cipherSuites(ConnectionSpec.java:278)
	at okhttp3.ConnectionSpec.<clinit>(ConnectionSpec.java:66)
java.lang.NullPointerException
	at okhttp3.ConnectionSpec$Builder.cipherSuites(ConnectionSpec.java:278)
	at okhttp3.Con

[2016-05-26 09:16] tomatozheng commented on #2580
sometimes when i init OkHttpClient instance,throw those message

[2016-05-26 09:32] hysbtr commented on #2580
Oh~,My kiddo,Let me see one see!

[2016-05-26 09:47] milin411 commented on #1048
I have the same problem,I have the same problem, using 'com.squareup.okhttp3:okhttp:3.2.0'

`A resource was acquired at attached stack trace but never released. See java.io.Closeable for information on avoiding resource leaks.
                                                               java.lang.Throwable: Explicit termination method 'close' not called

[2016-05-27 02:07] hamberluo opened #2581 "RealCall Exception in WebSocket"
[code]

[2016-05-27 08:52] troinine opened #2582 "Inconsistent timeout behaviour when attaching an interceptor that accesses the ResponseBody"
Originally we had some tests against Retrofit (2.0.0-beta3) that tested timeouts simply by exercising `MockWebServer` and everything worked fine we were able to simulate a socket timeout situation. After Retrofit (2.0.0) upgraded its OkHttp dependency to 3.2.0 things started to behave weirdly.

See the following test:

[code]

This test tries to simulate a timeout just using OkHttp. I did copy the

[2016-05-27 11:55] rfc2822 commented on #1998
Same problem here. Just got this (anonymous) Google Play crash report:

[code]

So, an HTTP request execute call has thrown an `IllegalArgumentException` which I could really not expect, causing DAVdroid to crash.

I suggest to use checked exceptions instead – maybe subclasses of IOException? For instance, `CharacterCodingException` is used for a similar case and it's an IOException.

[2016-05-27 12:17] dave-r12 commented on #2581
Ahh, I believe I found it. I think this would be fixed with #2374.

[code]

[2016-05-27 12:47] dave-r12 commented on #2409
@tguerin are you using web sockets?

[2016-05-27 13:26] gesellix commented on #2576
@swankjesse I tried to use the encoded unix socket filename as hostname. Now I'm a bit lost thinking about a good layer where to hook into. A custom `SocketFactory` would only be used when the RouteSelector has tried to resolve my hacked hostname. Sadly, the `RouteSelector` makes some assumptions in regard to DNS lookups.

This is my test case:

[code]

... yielding that error:

[code]

Where woul

[2016-05-27 13:50] gesellix commented on #2576
Ah, sorry to bother yourself... I tried it with `localhost` (`http://localhost/unix--var-run-docker.sock/_ping`) and now it uses my SocketFactory.

Now I'm where you probably have already seen the actual problem:

Yes, the information is lost. I assume it's a no-go to pass the path down into `RealConnection`, right?

[2016-05-27 14:05] gesellix commented on #2576
In case someone is interested in the WIP, it can be found there https://github.com/gesellix/okhttp/blob/master/samples/simple-client/src/main/java/okhttp3/sample/OkDocker.java

[2016-05-27 17:56] zerowaitstate opened #2584 "Request that android dependencies be moved to separate package"
There is currently a required dependency in the pom.xml to the Google Android API.  When OkHttp is included in non-Android projects, that necessitates including Android code, even when it is not needed for the application (in my case, this quadrupled the size of the deployed app).

From reading the git history, it looks like the Android dependency was created so that a ready-made logging NetworkIn

[2016-05-27 18:00] JakeWharton commented on #2584
It's marked as `provided` so it is not included as a dependency of the library. However you are packaging your application you should not be bundling `provided` or `optional` dependencies.

[2016-05-28 03:00] hamberluo commented on #2581
@dave-r12 this happened in 3.3.0-snapshot

[2016-05-28 09:24] rakesh1988 opened #2585 "Handling third party logins with okhttp's Authenticator interface"
Feature Request.
I am trying to understand the Authenticator interface which helps us to fetch a new token from the API server. In the current implementation, I see that this interface can handle only a single call to the API server with the user credentials (username and password) to fetch the new token. Also this has to be synchronous process.
In a use case where a third party authentication lik

[2016-05-28 13:34] swankjesse commented on #2585
You can do whatever you like in `Authenticator` to prepare credentials for the follow-up request. You can add preemptive authentication by setting the appropriate headers in the application code, or in an interceptor, or wherever.

Here’s a couple examples:
https://github.com/rburgst/okhttp-digest
https://github.com/pakerfeldt/okhttp-signpost

Does that help?

[2016-05-28 14:11] rfc2822 commented on #2579
Unfortunately, Github doesn't allow to attach `.vcf` or `.ics` files. So I have zipped the files: [sample.zip](https://github.com/square/okhttp/files/287739/sample.zip)

I guess they're considered binary because they contain control characters within the first 16 characters?

If I remember correctly, I have also seen WebDAV XML responses which were treated binary, probably for the same reason.

Wh

[2016-05-28 14:37] swankjesse commented on #2576
Here’s a class that might help:
https://gist.github.com/swankjesse/7ffbc7f7ec9d6fc9deb026d8726eae84

Use it like this:

[code]

You’ll still need to figure out what else goes inside the `connect()` method. All this does is retrieve the path through a backchannel.

[2016-05-28 14:50] swankjesse commented on #2579
Turns out it’s just the newline characters. I’ll get this fixed and cut a 3.3.1. Sigh.

[2016-05-28 17:21] #2584 closed

[2016-05-28 17:31] #2579 closed

[2016-05-28 17:34] #1998 closed

[2016-05-28 20:25] yschimke commented on #2575
https://github.com/square/okhttp/pull/2589

[2016-05-28 20:26] #2575 closed

[2016-05-28 21:09] gesellix commented on #2576
well, that's nice, thanks!

[2016-05-28 21:26] gesellix commented on #2576
@swankjesse I decided to encode the hostname - as suggested. Thanks for the hint to also hook into the Dns lookups. Your example [worked great](https://github.com/gesellix/okhttp/blob/5d3d491afd6a6f6ba80985bb6f0749dbed88436c/samples/simple-client/src/main/java/okhttp3/sample/OkDocker.java) and I don't even need any change in OkHttp :-)

I guess I'm no able to continue by myself, so I'm closing thi

[2016-05-28 21:26] #2576 closed

[2016-05-28 21:41] swankjesse commented on #2576
Great. Also you might find Okio’s ByteString to be a little more natural to go between hex and utf8:

[code]

[2016-05-28 21:52] gesellix commented on #2576
done - looks like I need to browse even more of your api...

[2016-05-29 12:46] adelnizamutdinov commented on #2533
I'm getting

[code]

with okhttp 3.3.1 and both robolectric 3.0 and 3.1-rc1
all good with okhttp 3.2.+

[2016-05-29 15:30] dave-r12 commented on #2533
I was able to get the test green. Here's what I did:

1. Change to using OkHttp-3.3.1. The project was using a SNAPSHOT version, but 3.3 has since been released.
2. Upgrade to robolectric 3.1-rc1.
3. Added config annotation with SDK specified to the test class:

[code]

As for why it works, I don't know. It appears the default SDK is 21. The bit I don't understand is why it isn't throwing a ClassN

[2016-05-29 17:10] dave-r12 commented on #2533
I have a vague idea of why this works now, and I opened up an issue on robolectric project. Let's see what they say, https://github.com/robolectric/robolectric/issues/2478

[2016-05-30 03:03] zhenqinrui opened #2590 "hi, there are some product design that i should to modify okhttp source, so I want know how to modify and compiler the okhttp source base at android platforms,and which okhttp versions I should use?"

[2016-05-30 09:07] dereky7 commented on #2201
it use jarjar-rules.txt to repackage

[2016-05-30 17:09] vanniktech opened #2591 "AssertionError when running Unit Tests on Android with Robolectric"
Started happening with OkHttp 3.3.1 (didn't try 3.3.0 out)

Relevant Stacktrace

	at okhttp3.internal.AndroidPlatform.isCleartextTrafficPermitted(AndroidPlatform.java:143)
	at okhttp3.OkHttpClient.<clinit>(OkHttpClient.java:73)
	at okhttp3.OkHttpClient$Builder.<init>(OkHttpClient.java:381)

[2016-05-30 17:12] JakeWharton commented on #2591
Dupe #2533

[2016-05-30 17:12] #2591 closed

[2016-05-30 17:13] vanniktech commented on #2591
Ups sorry for that

[2016-05-30 17:15] JakeWharton commented on #2591
You can workaround by setting `@Config(sdk = 23)` on each test

[2016-05-30 17:16] vanniktech commented on #2591
Yeah I'm reading the issue. Thanks for the quick reply and the workaround

[2016-05-30 22:11] SetTrend opened #2592 "okhttp adds quotes around cookie values"
Examinig our web log I noticed that **okhttp** adds redundant quotes around cookie values when sending request HTTP headers.

This is keeping cookies sent by **okhttp** from being recognized correctly by the server.

Here's an example log (using fake values, of course):

[code]

This should correctly read:
[code]

[2016-05-30 22:38] swankjesse commented on #2592
Try OkHttp 3.

[2016-05-30 22:38] #2592 closed

[2016-05-31 09:18] PassersHowe opened #2593 "FATAL EXCEPTION: OkHttp Dispatcher"
I'm having a trouble, use a Google search, but did not find a solution：

 **compile 'com.squareup.okhttp3:okhttp:3.3.1'**
**Tested devices: XiaoMi Redmi Note3  with Android 5.0.2**

[code]

[2016-05-31 12:37] swankjesse commented on #2593
It's an error to call ResponseBody.string() multiple times. The documentation explains why.

[2016-05-31 12:37] #2593 closed

[2016-05-31 18:58] felipecsl commented on #2533
Robolectric 3.1-rc1 is pretty much unusable right now, as running tests take ~10x longer. Any other workarounds?

[2016-05-31 20:43] trevor-e commented on #2525
I'm also running into the same issue while trying to test timeout handling in my app.  I'm using Charles Proxy to throttle network requests, but after the first request times out subsequent requests are no longer throttled, making testing very painful. :)

The proposed `allowProxyBypass()` method seems reasonable and could be set for debug builds.

[2016-06-01 02:25] Xuzhiwei commented on #2415
how to solve it?

[2016-06-01 02:35] localhostEU commented on #2415
[RxLint](https://bitbucket.org/littlerobots/rxlint) for the rescue!

[2016-06-01 02:41] Xuzhiwei commented on #2415
Thank you,I'll try it

[2016-06-01 06:13] Xuzhiwei commented on #2415
I catched the exception,and resolved the problem:
try {
      response = chain.proceed(request);
    } catch (IOException e) {
      LogUtil.error(TAG,"ERROR",e);
      return null;
    }

[2016-06-01 09:16] balazsgerlei commented on #2363
I also experience this. I too only see when using stetho with no sign in LogCat. I do not know if it is a bug with Stetho or OkHttp, and every time I saw this issue, the request than executed again successfully. Still weird though. Any ideas?

[2016-06-01 12:38] dave-r12 commented on #2533
Ouch. This (hideous) workaround also appears functional with 3.0,

[code]

[2016-06-01 15:32] alanlee-gn commented on #2363
I don't think it is a bug in Stetho but assuming some issue with the established connection as that is what the Exception is telling us. Perhaps the server is closing the connection without honoring the keep alive request in some cases. With the server I'm testing, number of Exception I get keeps changing.
I ended up removing _.header("Connection","close")_ to have keep alive working when there is

[2016-06-01 15:45] balazsgerlei commented on #2363
But if it's not a bug with stetho, than how come the OkHttp LoggingInterceptor does not log the two requests?

[2016-06-01 15:57] alanlee-gn commented on #2363
@balazsgerlei Sorry. I'm just a mere user of both the libraries. I'm guessing a bit here but base on what I understand _HttpLoggingInterceptor_ only logs HTTP request and response. IOException is related to lower level connection which sits below HTTP. I would guess it is out of scope of the HttpLoggingIntereceptor. Also OkHttp does a retry and eventually would log both the HTTP request and HTTP r

[2016-06-01 18:40] felipecsl commented on #2533
@dave-r12 the workaround works, thanks for sharing. One minor nit is that you should use `Class.forName()` instead ;)

[2016-06-01 19:04] eygraber commented on #2533
A truly terrible hack for those who can't upgrade to Robolectric 3+ is to add the following class to your test module under the `android.security` package. Probably not a good idea if you're testing the actual `NetworkSecurityPolicy`.

[code]

[2016-06-02 10:55] Vivecstel opened #2598 "Exception java.lang.OutOfMemoryError: Could not allocate JNI Env"
Got this exception from a beta tester using samsung galaxy s6 tracked by google's firebase :

Exception java.lang.OutOfMemoryError: Could not allocate JNI Env
java.lang.Thread.nativeCreate (Thread.java:)
java.lang.Thread.start (Thread.java:1063)
okhttp3.internal.framed.FramedConnection.start (FramedConnection.java:525)
okhttp3.internal.framed.FramedConnection.start (FramedConnection.java:509)
okht

[2016-06-02 11:42] Vivecstel commented on #2598
I parse the string returned later using gson. Should I use response.body().charStream() instead of response.body().string() ?

[2016-06-02 13:09] swankjesse commented on #2598
Yes.

[2016-06-02 13:09] #2598 closed

[2016-06-02 13:36] canran opened #2599 "different uppercase and lowercase"
What kind of issue is this?

 - [ ] Question. when i use OKHTTP,I find a issue(may be not the recent version）
when i use below:
private static final String actionUrl1 = "http://magnifier.tencent.com/v3/mobile/chunksUploadFile";
private static final String actionUrl2 = "http://Magnifier.tencent.com/v3/mobile/chunksUploadFile";

//main code
//URL url = new URL(actionUrl1);
//URL url = new URL(action

[2016-06-02 13:41] swankjesse commented on #2599
Please try the current version and report back if there are still problems.

[2016-06-02 13:41] #2599 closed

[2016-06-02 14:01] canran commented on #2599
the current version is OK!
e~~ i mean that weather it is a optimized-designed point,about decode or anything else

[2016-06-02 14:07] swankjesse commented on #2599
Yes, the current behavior is deliberate. Anything else is a bug. You might find this interesting:
https://corner.squareup.com/2015/05/okhttp-2-4.html

[2016-06-02 14:19] canran commented on #2599
ok thanks so nice！！！

[2016-06-02 18:37] JakeWharton opened #2600 "Make Dispatcher easier to hook up to Espresso"
Espresso wants two things:
* the ability to synchronously query whether something is idle
* the ability to invoke a callback when transitioning to idle

`Dispatcher` should be able to support the first case using `runningCallsCount() == 0`.

For the second, we can consume a `Runnable` to be invoked on idle. I think ideally this would be a setter instead of a constructor param so that `OkHttpClient

[2016-06-03 01:04] swankjesse commented on #2590
Not sure how to answer that. Maybe ask on Stack Overflow?

[2016-06-03 01:04] #2590 closed

[2016-06-03 01:04] swankjesse commented on #2585
No action to take here.

[2016-06-03 01:04] #2585 closed

[2016-06-03 01:05] swankjesse commented on #2582
The root cause is that the logging interceptor triggers the body to be loaded, and when that fails we retry the whole request. We could potentially mark the response as “completed” when we start reading the body and refuse to retry once that happens.

[2016-06-03 01:06] swankjesse commented on #2581
@hamberluo can you try it with 3.3.1 ?

[2016-06-03 01:08] swankjesse commented on #2580
Looks like a device or VM initialization problem. Can you tell me more about the impacted devices?

[2016-06-03 04:13] hamberluo commented on #2581
@swankjesse i have tried 3.3.1 and it looks like fixed.

[2016-06-03 04:13] #2581 closed

[2016-06-03 04:50] amitshekhariitbhu opened #2603 "Request for addition to works with OkHttp"
[Android Networking](https://github.com/amitshekhariitbhu/AndroidNetworking)
Android Networking is a powerful library for doing any type of networking in Android applications

Please add it on wikis of works with OkHttp

[2016-06-03 07:00] rajesh-khadka commented on #2147
I have same problem in okhttp3. How to resolve this issue ?

[2016-06-03 11:11] swankjesse commented on #2603
Neat library, but I'm uncomfortable endorsing it at this time. A quick look through the project source code shows some unoriginal code that lacks the original owner’s copyright. If you're going to build on other people's work, you need to honor their original ownership and retain their copyright.

[2016-06-03 11:11] #2603 closed

[2016-06-03 12:47] amitshekhariitbhu commented on #2603
@swankjesse : I am not much aware about licences . but I have added so my times in my readme file that this library use OKHttp and Okio with github links.
Please tell me what to do to give more credits . I will surely add this in my project.

[2016-06-03 13:02] dave-r12 commented on #2368
This should be fixed with OkHttp 3.3.1, see #2374 and #2583.

[2016-06-03 13:02] #2368 closed

[2016-06-03 13:24] swankjesse commented on #2603
Please learn about licenses. Retain the original copyright when you take code from other projects (AOSP, Volley).

[2016-06-03 14:19] amitshekhariitbhu commented on #2603
@swankjesse  : sure I will do the same .

[2016-06-03 15:45] #2600 closed

[2016-06-03 17:29] amitshekhariitbhu commented on #2603
@swankjesse  :  As per suggested by you I have updated licenses . Please review and re-consider it. and tell me if something is wrong I will do the same.

[2016-06-04 00:55] yschimke commented on #2514
I had a 5 minute look at this and it seems awkward to fix correctly given creating connections is somewhat detached from individual requests currently.  The user agent could be plumbed through, but it seems ugly.  Also a second http request with different user agent would still use the previous user agent from when the RealConnection is first established.

It does make me wonder whether OkHttpClie

[2016-06-04 20:17] swankjesse commented on #2514
We can fix this with new settings for preemptive authentication.

[2016-06-05 01:46] amitshekhariitbhu commented on #2603
@swankjesse : [Credits](https://github.com/amitshekhariitbhu/AndroidNetworking#credits)

[2016-06-05 10:15] #2217 closed

[2016-06-05 15:07] rafakob opened #2604 "Multipart - how to disable Content-Length for a part?"
Question:
How to disable `Content-Length` header for a part? I need to do this because an API that I'm using does not allow it (and I can't do anything about it).

I'm sure that the problem is that header, because I've tried to upload a file manually using `HttpURLConnection` and it works great without `Content-Length`, and it fails immediately when I add it.

I've tried to add interceptor to the

[2016-06-06 07:18] hamberluo commented on #2455
i also met this problem.

[code]

[2016-06-06 08:57] vedant1811 opened #2605 "[Bug Report] Interceptor may throw a IllegalStateException: cache is closed"
I am using the following code to add a custom header:

[code]

But sometimes I get an error:

[code]

The error makes sense but I don't understand how to work around it, as I do not have the required objects in the `intercept(Chain chain)` method to check if the cache is closed or not.

It would be okay to drop the call if the cache is closed.

_I am using OkHttp via Retorofit for my android appli

[2016-06-06 11:19] nesalexy commented on #1266
do you fix this?

[2016-06-06 13:27] EricRGC opened #2606 "[Bug][WebSocket] Crash when use 'ws' for websocket"
I use okhttp-ws:2.6 for websocket support. When I use 'wss' to create websocket, there's nothing bad happend, but when I change to use 'ws' to create websocket, there are quite a lot of crashes.
The stack info is below:

Fatal Exception: java.lang.IllegalStateException: state: 4
       at com.squareup.okhttp.internal.http.HttpConnection.writeRequest(SourceFile:171)
       at com.squareup.okhttp.in

[2016-06-06 13:56] swankjesse commented on #2606
If you can provide us with an executable test case, it'll speed up our ability to fix this.

[2016-06-06 14:41] swankjesse commented on #2605
Don't close the response cache?

[2016-06-06 14:53] vedant1811 commented on #2605
@swankjesse I am not explicitly closing the cache, its probably getting closed by Retrofit.

I could catch the exception in `chain.proceed(request)` but then I don't know what to return in the `intercept` method. Would returning `null` be fine?

[2016-06-06 14:59] JakeWharton commented on #2605
Retrofit knows nothing about the cache.

On Mon, Jun 6, 2016 at 10:54 AM Vedant Agarwala <notifications@github.com>
wrote:

[2016-06-06 18:17] swankjesse commented on #2605
Maybe put a breakpoint in the Cache.close() code and see who calls that?

[2016-06-06 19:15] allenchen1154 opened #2607 "Cannot mock OkHttpClient with Mockito in Robolectric unit tests"
Updating from OkHttp 3.2.0 to 3.3.1 breaks Robolectric unit tests that attempt to mock `OkHttpClient` with the following error:
[code]

[2016-06-06 19:18] JakeWharton commented on #2607
Dupe of #2533? Set `@Config(sdk = 23)`

[2016-06-06 20:32] allenchen1154 commented on #2607
Looks like this is a dupe of #2533. Closing since that issue has more details.

[2016-06-06 20:32] #2607 closed

[2016-06-07 02:29] shanghuibo commented on #404
Is there any progress in this issue?

[2016-06-07 02:33] JakeWharton commented on #404
No

On Mon, Jun 6, 2016 at 10:29 PM shanghuibo <notifications@github.com> wrote:

[2016-06-07 02:35] SimonWang1996 commented on #404
我是来看jake大神的

[2016-06-07 02:44] EricRGC commented on #2606
I'm sorry I still can't find a test case to produce the crash, any work around for this?

[2016-06-07 03:20] EricRGC commented on #2606
from the source code, this crash happens when the websocket create

[2016-06-07 04:22] dreamtalee commented on #2606
I face the same problem too, the server guys said `wss` consume much more cpu, so we change to ws temporarily，then the crashes happened. So the is it interrelated to the difference between wss and ws?

[2016-06-07 06:29] shareyourlocationsite commented on #2560
I see the exact problem while uploading to a server. Does retryOnConnectionFailure(false) ignored for multipart post requests?

[2016-06-07 06:59] guoyoujin opened #2608 "params md5 encrypted"
Hello , I have a post request , app_key will need to be signed , the signature rule is all the `params` after sorting with  `md5` encrypted, I want to use `interceptors` , will be how to better use

[2016-06-07 07:21] swankjesse commented on #2608
Please ask usage questions on Stack Overflow.

[2016-06-07 07:21] #2608 closed

[2016-06-07 09:54] jkauppin opened #2609 "Certificate pinner doesn't work if host name has capital letters"
If certificate pinner is set for host "www.HOST.com" if doesn't apply to the calls that has endpoint "www.host.com".

The CertificatePinner.findMatchingPins() should ignore the case because http doesn't care if the name is in uppercase or not.

Tested with OkHttp 2.7.5.

[2016-06-07 10:04] artem-zinnatullin commented on #2609
Why not pass lowercased hostname to the CertificatePinner?

On Tue, 7 Jun 2016, 12:54 jkauppin, <notifications@github.com> wrote:

[2016-06-07 10:16] jkauppin commented on #2609
Yes, that was the fix on the app. However that feels unsafe since a small typo in the host will disable the certificate pinning. From http point of view capital letters has no meaning.

[2016-06-07 11:38] dave-r12 commented on #2606
I think this is related to #2581. I can get a similar stack trace with this test case against 2.6:

[code]

@EricRGC @dreamtalee could you try upgrading to 3.3.1?

[2016-06-07 12:27] ChristianBecker commented on #2068
I'm running in the same problem. Is there any progress so far?

[2016-06-08 05:34] vedant1811 commented on #2605
This is the code I use to setup OkHttp and Retrofit:

        OkHttpClient.Builder builder = new OkHttpClient.Builder();
        builder.cache(new Cache(new File(context.getCacheDir(), "ok-http-cache"),
                1024 * 1024 * 5)) // 5 MB cache
                .addInterceptor(new Interceptor() {
                    @Override
                    public Response intercept(Chain chain) throws I

[2016-06-08 07:10] PiotrWpl commented on #2605
+1, we have the same problem sometimes in our app.

[2016-06-08 09:52] peterArconsis commented on #2016
The HTTP Spec actually uses the word SHOULD, so isn't this restriction in the http client too harsh?

[2016-06-08 12:01] peterArconsis commented on #2068
Since the HTTP spec actually does not disallow other characters, the http client should not disallow such usage either. Currently if the server wants such a header (shame if so, but actually nothing against it), there is no way to work with that backend at the moment, right?

[2016-06-08 13:06] chrisstewart commented on #2300
I ran into this problem as well.  It was a case of adding an interceptor multiple times.  I am using OkHttp3 however, which based on @swankjesse's comment shouldn't have been possible.  I ended up clearing the interceptors before adding it again.

[2016-06-08 14:47] swankjesse commented on #2068
Yep. We're gonna fix this.

[2016-06-08 15:26] npomfret commented on #2143
Hey @swankjesse - did this ever get implemented?

[2016-06-08 19:04] swankjesse commented on #2609
Yeah, we should fix this.

[2016-06-08 19:56] DosAmp commented on #2506
As a further heads-up, this patch [is now available](http://nginx.org/en/CHANGES) in mainline nginx branch 1.11, which as a positive side-effect makes connection-initiating POST requests over HTTP/2 in major browsers (Firefox, MS Edge, Safari 9.x and alternative browsers on iOS, etc.) work again.

[2016-06-09 07:22] paul321 opened #2610 "App crashing on Headers Line 320"
Library is crashing the Android app on the following line in Headers.java

`if (c <= '\u001f' || c >= '\u007f') {
    throw new IllegalArgumentException(Util.format(
    "Unexpected char %#04x at %d in %s value: %s", (int) c, i, name, value));
}`

The app needs to send date in header in the following code:
`
Date date = new Date();
SimpleDateFormat dateformat = new SimpleDateFormat("EEE, d MMM yyy

[2016-06-09 09:59] skimarxall opened #2611 "Read not throwing exception when connection is closed (Server sent events)"
I started an implementation of Server Sent Events using OkHttp as the network layer. The implementation is pretty straightforward.

The constructor takes the OkHttpClient and sets the timeout to 0 since we need to keep the connection alive.

[code]

Once the call is enqueued and successfully I use the StreamAllocation to created the buffer to read from.
Then I block the thread with a read method t

[2016-06-09 12:10] skimarxall commented on #2611
Seems that is device related...

Samsung Galaxy Note 4 Android 5.1.1
I tried with a sony xperia z5 and the exception is thrown same for a samsung s4.

[2016-06-09 12:17] jsina opened #2612 "Hi"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge

[2016-06-09 12:17] jsina opened #2613 "Hi"
What kind of issue is this?

 - [ ] Question. This issue tracker is not the place for questions. If you want to ask how to do
       something, or to understand why something isn't working the way you expect it to, use Stack
       Overflow. https://stackoverflow.com/questions/tagged/okhttp

 - [ ] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       ge